@charset "utf-8";
.ovy{overflow-y:scroll;}
.souceUrl{position:relative;border:1px solid #eee;border-radius:5px;padding:5px;float:left;width:45%;opacity:1;height:auto}
.check{float:left;width:5%}
.souceUrl:after{content:' 복사하려면 클릭!';display:inline}

/*bootstrap 초기화*/
.navbar{min-height:32px}
.navbar-nav > li > a{padding-top:5px;padding-bottom:5px;}
.row{margin-top:5px;margin-bottom:5px}

body,
button,
input,
textarea,
select{font-family:$fontSet}

body{font-size:13px;-ms-word-break: break-all;word-break: break-all;}
a {color:#333}
a:hover, a:focus, a:active {color:#ed6d1f}

@for $i from 16 through 25{
	.fs#{$i}{
		font-size:$i+px;
		@if ($i>17){
		letter-spacing:-2px;
		}@else{
			letter-spacing:-1px;
	}
		line-height:($i+4)/$i
	}
}

/* ul.Text Styles */
.list{}
.list li{text-indent: -16px;padding-left: 16px;}
.list li:before{content: '◎';display: inline-block;width: 16px;text-indent: 0;}
/* ol.Text Styles */
/* dl.Text Styles */
/* div.Text Styles */
/* Other Text Styles */
/* player */
/* searchbox */
/* btn list */
/* input */

/* 사용자 input */
input.post {width:80px}
.emailId,
input.email_id,
input.email_addr,
input.emailAddr{width: 90px}
input.tel1 {width:60px}
input.tel {width:80px}
input.input_file {}
input.tel_word {width:120px}/* 전화번호 한줄 */
input.user_id {width:120px}
input.hasDatepicker {width:80px}
input.tel1 {width:40px}
input.emailid, input.emaildomain, input.tel {width:80px}
input.post_s, input.post_e, input.post {width:70px}
input.month,
input.date,
input.sdate,
input.edate,
input.dateS,
input.dateE{width:85px !important}

.postSet{}
.postSet span{display:block;}
.postSet span+span{margin-top:5px;}

/*검색어 하이라이트*/
.highlight {color:red}

.addFormSet{padding:10px 0;border-top:1px dotted #ccc;margin:0}
.addFormSet:first-child{border:none}
.addFormSet>div{margin:5px 0}
.addFormSet:nth-child(2n){background-color:#eee;border-radius:3px}


.file_set{}
.file_set .decoTitle{line-height:34px;}
.file_set:nth-child(2n){background-color:#eee;border-radius:3px}

/* popup */
#wrap_pop {padding:0 10px}
#wrap_pop #content {width:100%}
.popupWrap {padding:0 25px;color:$color_black;}
.popupWrap h2{font-size:1.5em;line-height:40px;margin:10px 0 5px 0}
.popupWrap h1 {background:#333;color:#fff;height:50px;line-height:50px;font-size:20px;padding-left:20px;margin:0 -25px 25px;}
#popup h1{padding:10px;background:#22232a;color:#fff;}
#popup #popupArea{padding:10px;}


/* 첨부파일 목록 */
.file{border-bottom:1px solid #9fc9d8;overflow:hidden;border-left:#dfdfdf 1px solid;border-right:#dfdfdf 1px solid;border-top:#dfdfdf 1px solid;clear:both;overflow:hidden;height:36px}
.file dt{width:15%;text-align:center;background:url(/static/img/bos/sgnb_line.gif) no-repeat right 14px;float:left;color:#0c5d96;padding:10px 0;font-weight:bold}
.file dd{width:85%;float:left}
.file dd a{display:block;padding:8px 0 0 10px}

/* 버튼그룹 */
.btn_print {position:absolute;right:0;top:15px}

.outputEditor{min-height:300px}

/* 필수입력 */
.req{display:inline-block;width:15px;height:15px;}
.req:before {
	content: '';
	font:normal normal normal 14px/1 FontAwesome;content:"\f00c";color:red;
}
.req>*{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
.inputDeco{color:#d04700}
.help{
	padding:8px 0;
	line-height:16px;
	&::before {
		content: '';
		background:#fff url(/static/commons/img/common.png) -10px -420px no-repeat;
		width:16px;
		height:16px;
		margin-top:-3px;
		display:inline-block;
		vertical-align:middle;
	}

	em{
		color:#e74c4c;
	}
}

/* datePicker */
.ui-datepicker .ui-datepicker-title select{padding:0;font-weight:normal;height:25px;vertical-align:top}
/*탭*/
.tab-2depth{}
.tab-2depth li{float: left;width: 50%;}
.tab-2depth li a{display: block;text-align: center;border: 1px solid #ddd;border-top-style:dotted;padding: 4px 0;border-left-width: 0;border-top-color:transparent;}
li.active .tab-2depth li a{}
.tab-2depth li.active a{}
.tab-2depth li:first-child a{border-bottom-left-radius:3px;border-left-width: 1px;border-right-style: dotted}
.tab-2depth li:last-child a{border-bottom-right-radius:3px;}
.nav-tabs > li > a{
	background-color:#eee;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	font-weight:bold;
	background-color:#febe10;
	border-color:#febe10;
	color:#000;
	box-shadow: 0 -7px 9px -6px rgba(0,0,0,0.3) inset;
}

/*아이콘*/
span.ico{display:inline-block;border-radius:25px;background-color:#76D7C4;color:#117A65;font-size:11px;font-weight:normal;
	padding:8px 5px;
	vertical-align:middle;
	text-align:center;
}
.box{border:1px solid #ddd;border-radius:5px;padding:10px;margin-bottom:5px;}

span.line{height:1px;line-height:5px;overflow:hidden;display:block;border-top:1px dotted #666;}

.nodata{text-align:center;border:1px solid #eee;padding:10px;color: #f00}

.totalCount{float:left;padding-top:10px;margin-top:10px;}
.displayedItems{float:right;margin-bottom:5px;margin-top:10px;}

.noimage{background:#ededed url(/static/img/story/common/noimage.png) center center no-repeat;display:block;height:100px;}
.pic .noimage{border:4px solid #fff;outline:1px #eee solid;width:250px;margin:0 auto}

/*FAQ*/
#faqList {position:relative; margin:30px 0 0; border-top:3px solid #0552a9; border-bottom:1px solid #707580;}
#faqList dt,
#faqList dd {position:relative;padding:10px 10px 12px 35px;border-bottom:1px solid #d6d6d6;}
#faqList dt {line-height:37px;padding-top: 0;padding-bottom: 0;}
#faqList dt button {display:block;line-height:18px;background-color: transparent;border: 0;padding:10px 0;width: 100%;text-align: left;}
#faqList dd {background:#f8f8f8;}
#faqList .qna_img{position:absolute; left:0px; top:7px;background:url(/static/commons/img/ico_q.png) 0 0 no-repeat;width:24px;height:24px;background-size:auto 100%;}
#faqList dd .qna_img{background-image:url(/static/commons/img/ico_a.png);}
#faqList #no-data {width:100%; text-align:center; padding-left:0; background-image:none; font-weight:bold;}

.fieldList .row{line-height:34px;}
.fieldList .row+.row{margin-top:10px;}

/**/
.beforeDiv{
	margin: 0; border: 5px solid #f4f4f4; padding: 20px;
	overflow:auto;
	overflow-y:hidden;
	overflow-x:auto;
}
.topDesc{padding:10px;border:1px solid #ccc;border-radius:5px;margin-bottom:10px;}
.topDesc ul{}
.topDesc ul li{}
.topDesc ul li+li{margin-top:5px;}

.treectrl{
	text-align:left;
	padding:5px 5px 0 5px;
	background-color:#f4f4f4;
	.jstree{background-color:#fff;}
	.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
		// border-bottom-left-radius:0;
	}
	.btn-group > .btn:last-child:not(:first-child):not(.dropdown-toggle){
		// border-bottom-right-radius:0;
	}
	.f>button::before {
		content: '';
		background: url(/static/commons/img/ico_folderopen.png) 0 0 no-repeat;
		width:18px;height:13px;
		display:inline-block;
	}
	.f>button{
		border:1px solid #393b3f;
		font-size:12px;
		// padding:4px 8px;
		// border-radius:3px;
		background-color:#fff;
	}
	.f>.treeclose::before {
		background-image:url(/static/commons/img/ico_folderclose.png);
	}
	.f+.btn-group{float:right;}
}


.pagination ul > li span>span.t{display:none}
.paginationSet{text-align:center;}
.paginationSet .t{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}

.contentadminfo{
	overflow:hidden;
	li{float:left;width:50%;position:relative;
		padding-left:80px;
		padding-right:10px;
		label{display:block;}
		span.title{
			position:absolute;
			left:0;
			top:0;
			line-height:34px;
		}
		input{width:100%;}
	}
}



.mainAdmin{
	text-align:center;
	width:1005px;
	margin: 0 auto;
}
.mainAdmin .visual{
	position:relative;
	height:315px;
	display:block;
	margin:5px;
	background:url(/static/bos/img/mainadmin/mainadmin-visual.png) center 0 no-repeat;
	background-size:auto 100%;
	&::after {
				content: 'SAMPLE';
				font-size:40px;
				font-weight:bold;
				position:absolute;
				top:40%;
				width:100%;
				text-align:center;
				left:0;
				opacity:0.5;
				-webkit-transform: rotate(-45deg);
					 -moz-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						 -o-transform: rotate(-45deg);
								transform: rotate(-45deg);
			}
	 span{display:block;height:315px;}
	 button{
		 position:absolute;
		 right:0;
		 top:0;
	 }
	 img{
		position:absolute;
		top:0;left:0;
		width:100%;
		height:315px;
	 }
	 a{
		position:relative;z-index:1;display:block;
		font-size:20px;
		font-weight:bold;
		padding-top:20px;
		border:1px solid #ccc;
		height:315px;
	 }
}
.mainAdmin .set{
	overflow:hidden;
	>div{
		width:325px;
		float:left;
		margin:5px;
		position:relative;
		&::after {
					content: 'SAMPLE';
					font-size:40px;
					font-weight:bold;
					position:absolute;
					top:40%;
					width:100%;
					text-align:center;
					left:0;
					opacity:0.5;
					-webkit-transform: rotate(-45deg);
						 -moz-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							 -o-transform: rotate(-45deg);
									transform: rotate(-45deg);
				}
		&::before {
			content: '';
			position:absolute;
			width:100%;
			top:0;
			left:0;
			height:313px;
			background:url(/static/bos/img/mainadmin/career.png) center center no-repeat;
			opacity:0.35;
			background-size:cover;
			
		}
		button{
			position:absolute;
			right:0;
			top:0;
			z-index:999;
		}
		a{
			position:relative;
			z-index:100;
			display:block;
			height:313px;
			font-size:20px;
			font-weight:bold;
			padding-top:20px;
			border:1px solid #ccc;
			img{}
			span{
				
			}
		}
	}
	.c1{}
	.c2::before{background-image:url(/static/bos/img/mainadmin/contact.png);}
	.c3::before{background-image:url(/static/bos/img/mainadmin/gallery.png);}
	.c4::before{background-image:url(/static/bos/img/mainadmin/link.png);}
	.c5::before{background-image:url(/static/bos/img/mainadmin/pop.png);}
	.c6::before{background-image:url(/static/bos/img/mainadmin/career.png);}
}

.errimg{
	background:url(/static/bos/img/126X118.gif) center center no-repeat;
	width:100px;
	height:50px;
	display:inline-block;
	border:1px solid $bdcolor;
	vertical-align:middle;
}
// 권한관리
#authomenu label>input{position:absolute;z-index:-1;left:-999px;display:none;}
.btnSet{
	&+.paginationSet{
		margin-top:-10px-35;
		>ul{margin:0;}
	}
}
.listImgSize{
	max-width:150px;
	max-height:100px;
}

.loading{
	position:fixed;
	// left:50%;
	left:0;
	width:100%;
	text-align:center;
	margin-top:-120px;
	top:50%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	z-index:999;
	// width:100%;
	// height:100%;
	// padding-top:50%;
	// color:#fff;

	&::after {
		content: '';
		position:fixed;
		width:100%;
		height:100%;
		left:0;top:0;
		background-color:#000;
		background-color:rgba(255,255,255, 0.8);
		z-index:-1;
	}
}
.usS{color:#449d44;}
.spinner {
  /*margin: 100px auto 0;*/
  width: 70px;
  text-align: center;
  margin: 40px auto;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.group{
	
	border-radius:5px;
	padding:0 15px;
	line-height:35px;
	border:1px solid #ccc;
	[class*=col-sm]:last-child{text-align:right;}
	.row+.row{
		background-color:#F4F4F4;
		margin-bottom:0;
		margin-top:0;
		padding-bottom:5px;
		border-radius:5px;
	}
	.row+.row>div{border-top:1px solid #ccc;padding-top:5px;}
	&+.group{margin-top:10px;}
}

.fileAddSet{
	position:relative;
	padding-left:116px;
	.btnFileAdd{
		position:absolute;
		left:0;top:0;
	}
	.file_set{
		input{width:calc(100% - 30px);}
		&+.file_set{margin-top:10px;}
	}
}
.satisfactionSet{
	margin-bottom: 30px;
	margin-top: 30px;
	.satisfact{
		clear: both;
		float: left;
		width: 100%;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom:1px solid #ccc;
		[class*=icon] { height:18px;background: url(/static/commons/img/star1.gif) 0 50%;vertical-align: middle; display: inline-block;}
		.icon-star1{width:20px; }
		.icon-star2{width:40px; }
		.icon-star3{width:60px; }
		.icon-star4{width:80px; }
		.icon-star5{width:100px; }
	}
	h3{
		display: inline-block;
		font-size: 1em;
		font-weight: normal;
		width: 15%;
		float: left;
		margin-left:0 !important;
		background:none !important;
		padding-left:0 !important;
		&+div{
			display: inline-block;
			width: 85%;
			float: left;
			label{
				float: left;
				display: inline-block;
				margin-right: 23px;
				input{ margin-right: 10px; }
			}
		}
	}
	.oneCmtSet{
		display: table;
		clear: both;
		width: 100%;
		&>*{
			display: table-cell;
			vertical-align: top;
			width: 10%;
			height: 60px;
		}
		label{width: 15%;float: left;}
		.oneCmts{
			width: 84%;
			float: left;
		}
		textarea{
			height: 60px;
			width: 100%;
		}
		a{ line-height: 40px; }
	}
}