[class*=b-]:before{font-family:FontAwesome;}
.b-reg::before{content:"\f040  "}
.b-del:before{content:"\f014  "}
.b-cancel:before{content:"\f05e  "}
.b-edit:before{content:"\f044  "}
.b-list:before{content:"\f03a  "}
.b-move:before{content:"\f047  "}
.b-reply:before{content:"\f112  "}
.b-sh:before{content:"\f002  "}
.b-ok:before{content:"\f00c  "}
.b-down:before{content:"\f019  "}
.b-reset:before{content:"\f01e  "}
.b-add:before{content:"\f067  "}
.b-view:before{content:"\f06e  "}
.b-back:before{content:"\f060  "}
.b-save:before{content:"\f0c2  "}
.b-end:before{content:"\f011  "}
.b-set:before{content:"\f013  "}
.b-open:before{content:"\f08e  "}
.b-select:before{content:"\f00c  "}
.b-login:before{content:"\f011  "}
.b-pop:before{content:"\f08e  "}
.b-disabled:before{content:"\f2a8  "}
.b-unlock:before{content:"\f09c  "}
.b-hide:before{content:"\f070  "}
.b-xls:before{
	background: url(/static/commons/img/xls.png) 0 0 no-repeat;
	content:'';
	width:23px;height:16px;
	display:inline-block;
	vertical-align:middle;
}
.ico-new{display:inline-block;width:15px;height:13px;background:url(/static/commons/img/ico_new.png) 0 0 no-repeat;}
.ico-re{display:inline-block;width:15px;height:13px;background:url(/static/commons/img/ico_re.png) right 0 no-repeat;}
.ico-comment{display:inline-block;padding-left:5px;}
.ico-comment:before{
	padding-right:3px;
	content: '\f27b';
	font-family:FontAwesome;
}

.b-reg{background-color:#3e4247;border-color:#3e4247;}
.b-sh{border-color:#393b3f;background-color:#393b3f;color:#fff;}
.b-sh2{border-color:#393b3f;background-color:#393b3f;color:#fff;}
.b-sh2:before{
	background:url(/static/commons/img/sh2.png) 0 0 no-repeat;
	content:'';
	width:21px;height:16px;
	display:inline-block;
	vertical-align:middle;
}
.b-use{
	color:#fff;
	background-color:#1b9a72;
	border:none;
	&::before {
		display:inline-block;
		width:25px;height:14px;
		content: '';
		background:url(/static/bos/img/use.png) 0 center no-repeat;
		vertical-align:middle;
	}
}
.b-notuse{
	color:#e74c4c;
	border:1px solid #e74c4c;
	&::before {
		display:inline-block;
		width:14px;height:14px;
		content: '';
		background:url(/static/bos/img/notuse.png) 0 center no-repeat;
	}
}
.b-print,
.b-help{
	border-color:#393b3f;
	color:#393b3f;
	&::before {
		display:inline-block;
		width:25px;height:19px;
		content: '';
		vertical-align:middle;

		background:url(/static/bos/img/ico-help.png) 0 center no-repeat;
	}
}
.b-print{
	&::before {
		background:url(/static/bos/img/ico-print.png) 0 center no-repeat;
	}
}
.pop-close{position:absolute;
	right:5px;
	top:5px;
	height:40px;
	width:40px;
	background:none;
	border:none;
	&::before,
	&::after {
		content: '';
		position: absolute;
		left:0;
		top:50%;
		width:100%;
		margin-top: -1px;
		height:3px;
		background-color:#fff;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}