$headingcolor:#3e4247;
@mixin bu1() {
	background:url(/static/bos/img/bu1.png) no-repeat 0 center;
}
@mixin bu2() {
	background:url(/static/bos/img/bu2.png) no-repeat 0 center;
}
@mixin bu3() {
	background:url(/static/bos/img/bu3.png) no-repeat 0 center;
}
@mixin bullet1(){
	font-size:1.167em;
	color:$headingcolor;
	padding:2px 0 2px 18px;
	font-weight:bold;
	margin-bottom:10px;
	@include bu2
}
h1,h2,h3,h4,h5,h6{font-family:$headingFont}
/* 콘텐츠 제목  */
#content .hgroup{position:relative; clear:both; margin-bottom:10px}
#content .hgroup>h3{
	
}
.bu2,
*.bu_t1,
#content h5.bu_t1,
#content h6.bu_t1,
#content h3.tit_03{ 
	@include bullet1()
}
.popupWrap,
#content{
	h2,
	h3,
	>h4 {@include bullet1()}
	>h5 {
		font-size:1.167em;
		color:$headingcolor;
		padding:0;
		margin:10px 0;
		clear:both}
}
h2{font-size:26px;
	color:$headingcolor;
	padding-left:25px;
	margin-bottom:10px;
	@include bu1
	}
#content .bu3,
.popupWrap .bu3,
.bu3,
h3{margin-left:11px;
	font-size:21px;
	color:$headingcolor;
	padding-left:25px;
	margin-bottom:10px;
	@include bu3
}
.popupWrap .bu3{
	font-size:1.167em;
	margin-top:20px;
	margin-left:0;
	padding-left:16px;
}