/* 로그인 */
.login{
	background-color:#eff0f3;
	&::before {
		height:80px;
		background:#fff none 0 0 no-repeat;
		border-bottom:3px solid #febe10;
		border-top:none;
		top:0;
		@include breakpoint($sm){
			width:100vw;
			min-width:0;
		}
	}
	#header_wrap .header h1{
		height:77px;
		background: center center no-repeat;
		width:250px;
		margin:0;
		@include breakpoint($sm){
			width:auto;
			text-align:center;
			float:none;
		}
		@include breakpoint($md){
			padding:0 10px;
		}
	}
	#header_wrap .header h1::before{display:none;}
	min-height:650px;
	@include breakpoint($sm){
		min-width:0;
	}
}
.bg_mng_main{
	position:relative;
	width:640px;
	height:230px;
	margin:178px auto 0 auto;
	margin-top:50vh;
	top:-160px;
	background:#fff;
	padding:60px 110px 46px 97px;
	// box-shadow:3px 3px 5px 0px rgba(50, 50, 50, 0.16);
	// .logo{position:absolute;top:-60px;left:0}
	@include breakpoint($sm){
		width:auto;
		height:auto;
		padding:20px;
		top:90px;
		margin:20px;
	}
	.titles{
		position:absolute;top:-90px;
		left:0;
	}
	.fa{font-size:30px;display:block;padding-left:30px;line-height:30px}
	.tab2_main {
		position:relative;
		div{margin-bottom:10px;overflow:hidden;}
		#idsave label{width:auto;}
		a,
		input,
		span {vertical-align:top;}
		label{margin:0;width:73px;float:left;
			@include breakpoint($sm){
				// display:none;
			}
		}
		.poab01,
		.poab02{
			float:left;width:260px;
			border:1px solid #b2b4bf;
			border-radius:0;
			height:40px;
			&:hover,
			&:focus {
				border:2px solid #febe10;
				outline:none;
			}
		}
		.poab03 {
			// 로그인버튼
			position:absolute;
			right:0;
			top:0;
			@include breakpoint($sm){
				position:static;
				display:block;
				background-color:#333;
				text-align:center;
				border-radius:5px;
			}
		}
		.idsave{clear: both;display: block !important;margin-left: 72px;
			@include breakpoint($sm){
				margin-left:0;
			}
		}
		.idsave label{width:auto;}
		.idsave input{position: relative !important;vertical-align: middle;margin: 0;}
	}

}
body.login{
	#footer{
		position:fixed;
		bottom:0;
		width:100%;
	}
}