.fixed{table-layout:fixed}
/* 테이블 뷰 대상 :게시물 상세보기 */
.bdView{
	border-top:$bdtopcolor 2px solid;clear:both;margin-bottom:20px;
	td .form-group{margin-bottom:0}
	table.table tbody tr td{text-align: left;}
	table{width:100%;border:none;margin:0;
		th,
		td{border:$viewbdColor 1px solid;padding:10px;}
		tr>th:first-child,
		tr>td:first-child{border-left:none;}
		tr>th:last-child,
		tr>td:last-child{border-right:none;}
		th{
			min-width:110px;
			text-align:left;
			font-weight:bold;
			background:$viewheadBgcolor;
			color:$viewheadcolor;
			padding-left:15+13px;
			vertical-align:middle;
			>label .req{margin-left:-15px;}
			>.req{margin-left:-15px;}
			}
		th label{font-weight:bold;}
		th.tit{padding-left:10px;text-align:left}
		td{}
		
		tbody tr:first-child > *{border-top:none;}
		td.outputEditor p,
		td.outputEditor div {min-width:500px;max-width:630px}
		td.outputEditor {min-width:640px;padding:10px 0 10px 20px}
		textarea, textarea#contents{width:100%}
	}
	input+input{}
	label+a{vertical-align: top;}

}
th{text-align:center;}


/* TABLES */
.table{
	border:none;
	border-top:3px solid $bdtopcolor;
	text-align:center;
	border-bottom:1px solid $bdcolor;
	caption{display:none;}
	&+.nodata{margin-top:-21px;}
}
.table > thead > tr > th {
  background: #fff;
  color: #333333;
  font-size: 14px;
  font-weight:normal;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-color: $bdcolor;
  // border-width: 0;
}
.table > thead > tr > th{padding:12px 0;border-left:1px solid $bdcolor;border-bottom-width:0;vertical-align:middle;line-height:1.2;}
.table > tbody > tr > td{border-left:1px solid $bdcolor;vertical-align:middle;}
.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child{border-left:none;}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background: #fafafa;
}
.table-striped > tbody > tr:nth-child(odd):hover > td, 
.table-striped > tbody > tr:nth-child(odd):hover > th,
.table-hover > tbody > tr:hover{background-color:$cellhovercolor;}


.table>tbody>tr>td.img{padding:5px;}
.table>tbody>tr>td.img div{max-height: 150px;overflow:hidden;margin:0;}
.table>tbody>tr>td.img div img{max-width:150px;}
table.table .tit{padding: 0!important}
table.table .tit a{display: block;text-align: left;position: relative;padding: 11px 5px 12px 5px;}
.bdList .tit a::before,
table.table .tit a::before{
	content: '';
	border-top: 4px solid #ddd;
	border-left: 4px solid #9f9f9f;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	display: inline-block;
	position: absolute;
	left:0;top:0;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.bdList th.no{width:50px;}
.bdList th.voit{width:50px;}
.bdList th.view{width:50px;}
.bdList th.date{width:100px;}
.bdList th.date{width:100px;}
.table tr.disabled td{background-color:#eee;cursor: not-allowed;}
/**/
table.sm tr th{font-weight:normal;padding:2px}
table.sm tr td{font-weight:normal;padding-left:2px;padding-right: 2px;}

table.tac th,
table.tac td{text-align:center;}
tr.tac>*{text-align:center;}

td .progress{margin-bottom:0;}

/**/
.table-bordered {
	border: 1px solid $bdcolor;
	> thead > tr > th,
	> tbody > tr > th,
	> tfoot > tr > th,
	> thead > tr > td,
	> tbody > tr > td,
	> tfoot > tr > td {
	  border: 1px solid $bdcolor;
	}
	> thead > tr > th,
	> thead > tr > td {
	  border-bottom-width: 0;
	}
	> thead > tr > th::after {
		display:none;
	}
}
table.table tr td.tit a{display:block;text-align:left}
table.table tr td.left {text-align:left}
td>div{margin:5px 0}

.ovx{
	overflow-x:scroll;
	th{white-space:nowrap;}
}


.calendarSet{
	line-height:40px;
	overflow:hidden;
	margin-bottom:20px;
	.ctrl{
		float:left;
		*{vertical-align:top;}
		button{
			border:1px solid #0059a9;
			width:40px;
			height:40px;
			text-align:center;
			display:inline-block;
			padding:0;
			line-height:40px;
			border-radius:50%;
			background-color:#fff;
			i{font-size:16px;line-height:40px;vertical-align:top;display:inline-block;color:#0059a9;}
		}
		span{
			color:#0059a9;
			display:inline-block;
			font-weight:bold;
			font-size:22px;
			line-height:40px;
			padding:0 20px;
		}
	}
	.infor{
		margin-left:20px;
		float:left;
		span{padding:0 15px;}
		i{font-size:22px;color:#0059a9;vertical-align:middle;}

	}
	.ctrlDirect{
		float:right;
	}
}
.calendarTable{
	border-top:2px solid #0059a9;
	caption{display:none;}
	table{
		width:100%;
		table-layout:fixed;
		thead tr th{border-top:none;
			padding:15px 0;
		}
	}
	th,td{
		border:1px solid $bdcolor;
	}
	th{
		background-color:#f0f2f7;
	}
	td{
		padding:15px;
		vertical-align:top;
		.day{
			display:inline-block;
			width:25px;height:25px;
			text-align:center;
			line-height:25px;
			&.today{
				color:#fff;
				background-color:#0059a9;
				border-radius:100%;
			}
		}
		.scheduleBtn{
			position:relative;
			text-align:center;
			font-size:22px;
			color:#0059a9;
			cursor:pointer;
			>span{
				display:inline-block;
				border-radius:100%;
				border:1px solid $bdcolor;
				width:36px;height:36px;
				line-height:36px;
				text-align:center;
			}
		}
		.scheduleInfor{
			position:relative;
			display:none;
			z-index:1;
			dl{

				position:absolute;
				background-color:#fff;
				width:302px;
				top:5px;
				left:calc(50% - 151px);
				border:2px solid #688ccf;
				padding:20px;
				&:before {
					content: '';
					width:0;
					height:0;
					border-left:7px solid transparent;
					border-right:7px solid transparent;
					border-bottom:10px solid #688ccf;
					position:absolute;
					top:-10px;
					left:143px;
					z-index:1;
				}
				&:after {
					content: '';
					width:0;
					height:0;
					border-left:5px solid transparent;
					border-right:5px solid transparent;
					border-bottom:8px solid #fff;
					position:absolute;
					top:-8px;
					left:145px;
					z-index:2;
				}
				dt{
					font-weight:bold;
					padding-bottom:5px;
					margin-bottom:5px;
					border-bottom:1px dotted #688ccf;
				}
				dd{
					p{}
					em{font-style:normal;color:#0059a9;}

				}
			}
		}
	}
}