@import url(/static/font/NotoSans/notosans.css);
@import url(/static/font/font-awesome-4.7.0/css/font-awesome.min.css);
@import url(/static/font/line-awesome/css/line-awesome.min.css);
@import url(/static/font/themify-icons/themify-icons.css);
@import url(/static/commons/css/grids.css);
@import url(/static/commons/css/common.css);
@import url(/static/ezpay/css/global.css);
@import url(/static/portal/css/mobileNav.css);
@import url(/static/ezpay/css/layout.css);
@import url(/static/portal/css/gongdan.css);
@import url(/static/portal/css/footer.css);
/* line 1, static/ezpay/scss/default.scss */ body { font-size: 15px; }

/* line 2, static/ezpay/scss/_sub.scss */ .sitemap > ul { overflow: hidden; margin: 0 -10px; }

/* line 5, static/ezpay/scss/_sub.scss */ .sitemap > ul > li { padding: 0 10px; }

@media (min-width: 768px) { /* line 5, static/ezpay/scss/_sub.scss */ .sitemap > ul > li { float: left; width: calc(100% / 3); } }

@media (max-width: 767px) { /* line 5, static/ezpay/scss/_sub.scss */ .sitemap > ul > li { margin-bottom: 15px; } }

/* line 14, static/ezpay/scss/_sub.scss */ .sitemap > ul > li > a { background: url("/static/portal/img/common/bu1.png") 0 0 no-repeat; padding-left: 20px; font-size: 22px; font-family: 'Noto Sans'; font-weight: 400; line-height: 1; margin: 40px 0 20px; color: #061d45; font-size: 22px; background-color: #f2f7fb; margin: 0; padding: 15px 10px 15px 50px; display: block; background-position: 31px center; }

@media (max-width: 767px) { /* line 14, static/ezpay/scss/_sub.scss */ .sitemap > ul > li > a { background-image: url("/static/portal/img/common/bu1@2x.png"); background-size: 10px 21px; } }

/* line 23, static/ezpay/scss/_sub.scss */ .sitemap > ul > li > div { padding-top: 10px; }

@media (min-width: 768px) { /* line 23, static/ezpay/scss/_sub.scss */ .sitemap > ul > li > div { height: 150px; } }

/* line 30, static/ezpay/scss/_sub.scss */ .sitemap > ul > li .dinfoSet > ul { margin: 0 10px 0 35px; }

/* line 32, static/ezpay/scss/_sub.scss */ .sitemap > ul > li .dinfoSet > ul > li { margin-bottom: 5px; }

/* line 34, static/ezpay/scss/_sub.scss */ .sitemap > ul > li .dinfoSet > ul > li a { background: url(/static/portal/img/common/bu-arr.png) 0 6px no-repeat; padding-left: 20px; line-height: 1.6; margin-left: 5px; font-weight: 300; }

@media (max-width: 767px) { /* line 34, static/ezpay/scss/_sub.scss */ .sitemap > ul > li .dinfoSet > ul > li a { background-image: url(/static/portal/img/common/bu-arr@2x.png); background-size: 7px 11px; } }

/* line 45, static/ezpay/scss/_sub.scss */ .u06001 { border-top: 2px solid #399bda; }

/* line 47, static/ezpay/scss/_sub.scss */ .u06001 table { width: 100%; }

/* line 48, static/ezpay/scss/_sub.scss */ .u06001 td, .u06001 th { border-bottom: 1px solid #dedede; padding-top: 35px; padding-bottom: 35px; }

/* line 49, static/ezpay/scss/_sub.scss */ .u06001 .bu-arr { font-size: 17px; color: #399bda; margin-left: 0; }

/* line 50, static/ezpay/scss/_sub.scss */ .u06001 a.b-sitego { border-radius: 4px; background-color: #399bda; }

@media (max-width: 767px) { /* line 52, static/ezpay/scss/_sub.scss */ .u06001 tr, .u06001 th, .u06001 td { display: block; border-bottom: none; padding: 5px 0; text-align: left; }
	/* line 53, static/ezpay/scss/_sub.scss */ .u06001 tr { padding: 15px 0 10px; border-bottom: 1px solid #dedede; } }

/* line 56, static/ezpay/scss/_sub.scss */ .u02002 { position: relative; background: url(/static/portal/img/common/blueline_pt.png) 0 0 repeat; padding: 20px; border: 1px solid #99bddd; border-radius: 15px; margin-bottom: 20px; }

@media (min-width: 768px) { /* line 56, static/ezpay/scss/_sub.scss */ .u02002 { padding: 110px 100px 110px 410px; }
	/* line 65, static/ezpay/scss/_sub.scss */ .u02002:before { content: ''; background: url(/static/ezpay/img/sub/u02002-ico.png) 0 0 no-repeat; position: absolute; width: 355px; height: 223px; left: 0; top: 0; }
	/* line 73, static/ezpay/scss/_sub.scss */ .u02002 div { z-index: 1; position: relative; padding-right: 102px; }
	/* line 77, static/ezpay/scss/_sub.scss */ .u02002 div select { height: 39px; width: 100%; }
	/* line 81, static/ezpay/scss/_sub.scss */ .u02002 div button { position: absolute; right: 0; top: 0; background-color: #0059a9; color: #fff; font-weight: bold; text-align: center; height: 39px; width: 100px; } }

/* line 94, static/ezpay/scss/_sub.scss */ .u003set { display: block; }

/* line 95, static/ezpay/scss/_sub.scss */ .u003set a { background-color: #399bda; color: #fff; padding: 8px 18px; display: inline-block; line-height: 1; font-size: 14px; border-radius: 5px; margin-top: -3px; vertical-align: top; }

/* line 106, static/ezpay/scss/_sub.scss */ .u003set .bu1 { margin-top: 0; }

/* line 107, static/ezpay/scss/_sub.scss */ .u003set p { margin-bottom: 20px; }

/* line 77, static/portal/scss/_var.scss */ .u003set:before, .u003set:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@media (min-width: 768px) { /* line 94, static/ezpay/scss/_sub.scss */ .u003set { padding-bottom: 40px; }
	/* line 110, static/ezpay/scss/_sub.scss */ .u003set .left { float: left; width: 43%; padding-right: 40px; }
	/* line 115, static/ezpay/scss/_sub.scss */ .u003set ul { float: right; width: 57%; }
	/* line 122, static/ezpay/scss/_sub.scss */ .u003set + div { padding-top: 40px; background: url(/static/portal/img/common/dotx5.png) 0 bottom repeat-x; background-position: 0 0; } }

/* line 129, static/ezpay/scss/_sub.scss */ .u01001 { background: #eceff5 url(/static/ezpay/img/sub/001.png) right 0 no-repeat; border-radius: 15px; background-size: contain; min-height: 420px; padding: 100px 30px 50px 77px; }

/* line 138, static/ezpay/scss/_sub.scss */ .u01001 .t1 { font-size: 28px; font-family: 'Noto Sans'; font-weight: 300; line-height: 1.2; display: inline-block; position: relative; }

/* line 144, static/ezpay/scss/_sub.scss */ .u01001 .t1 em { font-weight: 400; color: #0059a9; }

/* line 145, static/ezpay/scss/_sub.scss */ .u01001 .t1 span { font-size: 60px; line-height: 1; font-family: 'Noto Sans'; font-weight: 500; position: absolute; color: #0059a9; }

/* line 151, static/ezpay/scss/_sub.scss */ .u01001 .t1 span:first-child { left: -32px; top: -13px; }

/* line 152, static/ezpay/scss/_sub.scss */ .u01001 .t1 span:last-child { right: -34px; bottom: -36px; }

/* line 155, static/ezpay/scss/_sub.scss */ .u01001 .t2 { margin-top: 15px; font-family: 'Noto Sans'; font-weight: 400; font-size: 18px; line-height: 1.56; }

/* line 160, static/ezpay/scss/_sub.scss */ .u01001 .t2 strong { color: #0059a9; font-weight: 400; }

/* line 162, static/ezpay/scss/_sub.scss */ .u01001 .t3 { margin-top: 20px; line-height: 1.87; }

@media (max-width: 767px) { /* line 129, static/ezpay/scss/_sub.scss */ .u01001 { padding: 30px 30px 25px; }
	/* line 168, static/ezpay/scss/_sub.scss */ .u01001 .t1 { font-size: 21px; }
	/* line 169, static/ezpay/scss/_sub.scss */ .u01001 .t1 span { font-size: 50px; }
	/* line 170, static/ezpay/scss/_sub.scss */ .u01001 .t1 span:first-child { left: -25px; top: -13px; }
	/* line 171, static/ezpay/scss/_sub.scss */ .u01001 .t1 span:last-child { right: -25px; bottom: -13px; } }

/* line 176, static/ezpay/scss/_sub.scss */ .shapp { border: 1px solid #dedede; padding: 10px; }

@media (min-width: 768px) { /* line 176, static/ezpay/scss/_sub.scss */ .shapp { padding: 30px; } }

/* line 182, static/ezpay/scss/_sub.scss */ .shapp .step1 { display: block; margin: 0 -8px; }

/* line 77, static/portal/scss/_var.scss */ .shapp .step1:before, .shapp .step1:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 185, static/ezpay/scss/_sub.scss */ .shapp .step1 label { display: block; float: left; margin: 4px 8px; width: calc((100% / 4) - 16px); }

@media (min-width: 768px) { /* line 185, static/ezpay/scss/_sub.scss */ .shapp .step1 label { margin: 0 8px; width: calc((100% / 9) - 16px); } }

/* line 194, static/ezpay/scss/_sub.scss */ .shapp .step1 label input { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

/* line 195, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span { border-width: 3px; border-color: #399bda; font-weight: bold; color: #399bda; }

/* line 200, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span:before { content: ''; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #399bda; position: absolute; left: calc(50% - 7px); top: 0; }

/* line 214, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i1:after { background-position: -3px    0; }

/* line 215, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i2:after { background-position: -103px 0; }

/* line 216, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i3:after { background-position: -207px 0; }

/* line 217, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i4:after { background-position: -311px 0; }

/* line 218, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i5:after { background-position: -414px 0; }

/* line 219, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i6:after { background-position: -518px 0; }

/* line 220, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i7:after { background-position: -621px 0; }

/* line 221, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i8:after { background-position: -723px 0; }

/* line 221, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i9:after { background-position: -840px 0; }

/* line 221, static/ezpay/scss/_sub.scss */ .shapp .step1 label input:checked + span.i10:after { background-position: -951px 0; }

/* line 223, static/ezpay/scss/_sub.scss */ .shapp .step1 label span { position: relative; display: block; border: 1px solid #dedede; border-radius: 10px; height: 120px; padding-top: 74px; text-align: center; font-size: 16px; line-height: 1.2; }

/* line 233, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.h { padding-top: 67px; }

/* line 234, static/ezpay/scss/_sub.scss */ .shapp .step1 label span:after { content: ''; background: url(/static/ezpay/img/common/shcateiconset.png) -3px -129px no-repeat; position: absolute; left: calc(50% - 42px); top: 0; width: 80px; height: 67px; }

@media (max-width: 991px) { /* line 234, static/ezpay/scss/_sub.scss */ .shapp .step1 label span:after { background-image: url(/static/ezpay/img/common/shcateiconset@2x.png); background-size: 813px; } }

/* line 249, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i2:after { background-position: -103px -129px; }

/* line 250, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i3:after { background-position: -207px -129px; }

/* line 251, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i4:after { background-position: -311px -129px; }

/* line 252, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i5:after { background-position: -414px -129px; }

/* line 253, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i6:after { background-position: -518px -129px; }

/* line 254, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i7:after { background-position: -621px -129px; }

/* line 255, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i8:after { background-position: -723px -129px; }

/* line 255, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i9:after { background-position: -840px -129px; }

/* line 255, static/ezpay/scss/_sub.scss */ .shapp .step1 label span.i10:after { background-position: -951px -129px; }

/* line 259, static/ezpay/scss/_sub.scss */ .shapp .step2 { margin-top: 20px; padding-top: 21px; display: block; background: url(/static/portal/img/common/dotx5.png) 0 bottom repeat-x; background-position: 0 0; }

/* line 77, static/portal/scss/_var.scss */ .shapp .step2:before, .shapp .step2:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 265, static/ezpay/scss/_sub.scss */ .shapp .step2 button { float: left; margin: 0 8px 10px; width: calc((100% / 3) - 16px); border: 1px solid #399bda; text-align: center; border-radius: 10px; height: 50px; color: #399bda; font-size: 16px; }

@media (min-width: 768px) { /* line 265, static/ezpay/scss/_sub.scss */ .shapp .step2 button { width: calc((100% / 8) - 16px); } }

/* line 278, static/ezpay/scss/_sub.scss */ .shapp .step2 button.active { background-color: #399bda; color: #fff; font-weight: bold; }

@media (min-width: 768px) { /* line 286, static/ezpay/scss/_sub.scss */ .areaInfor { display: block; }
	/* line 77, static/portal/scss/_var.scss */ .areaInfor:before, .areaInfor:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	/* line 289, static/ezpay/scss/_sub.scss */ .areaInfor .imgbox { float: left; width: 220px; margin-bottom: 0; }
	/* line 293, static/ezpay/scss/_sub.scss */ .areaInfor .reg { float: right; width: calc(100% - 250px); margin: 0; }
	/* line 297, static/ezpay/scss/_sub.scss */ .areaInfor .reg dl { min-height: 60px; } }

/* line 301, static/ezpay/scss/_sub.scss */ .imgbox { border: 1px solid #c4c3b3; padding: 9px; border-radius: 5px; background-color: #f3f2ed; display: flex; flex-direction: row; justify-content: center; align-items: center; }

/* line 310, static/ezpay/scss/_sub.scss */ .imgbox img { border: 1px solid #c4c3b3; border-radius: 6px; }

/* line 313, static/ezpay/scss/_sub.scss */ .classList { border-top: 3px solid #0059a9; }

/* line 316, static/ezpay/scss/_sub.scss */ .classList > ul > li { padding: 20px; border-bottom: 1px solid #dedede; }

/* line 320, static/ezpay/scss/_sub.scss */ .classList a { display: block; margin-bottom: 6px; }

/* line 323, static/ezpay/scss/_sub.scss */ .classList a .tit { font-size: 17px; font-weight: bold; color: #666; }

/* line 325, static/ezpay/scss/_sub.scss */ .classList i { font-size: 15px; }

/* line 326, static/ezpay/scss/_sub.scss */ .classList .vline { border-left: 1px solid #999999; width: 15px; margin-left: 15px; vertical-align: middle; height: 14px; overflow: hidden; }

/* line 328, static/ezpay/scss/_sub.scss */ .classList .set { line-height: 1.6; }

/* line 330, static/ezpay/scss/_sub.scss */ .classList .set > span { vertical-align: top; display: inline-block; }

/* line 335, static/ezpay/scss/_sub.scss */ .classList .set > span a { display: inline; }

@media (max-width: 767px) { /* line 330, static/ezpay/scss/_sub.scss */ .classList .set > span { display: block; }
	/* line 338, static/ezpay/scss/_sub.scss */ .classList .set > span .visible-xs { display: inline-block !important; } }

/* line 343, static/ezpay/scss/_sub.scss */ .classList .bset { display: block; margin: -5px 0; }

/* line 77, static/portal/scss/_var.scss */ .classList .bset:before, .classList .bset:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 346, static/ezpay/scss/_sub.scss */ .classList .bset a { border: 1px solid #399bda; color: #399bda; font-size: 16px; font-family: 'Noto Sans'; font-weight: 500; display: block; padding: 8px 0; text-align: center; margin: 5px; float: left; border-radius: 5px; width: calc(50% - 10px); }

/* line 358, static/ezpay/scss/_sub.scss */ .classList .bset a.on { color: #fff; background-color: #399bda; }

@media (min-width: 768px) { /* line 367, static/ezpay/scss/_sub.scss */ .classList li { display: block; }
	/* line 77, static/portal/scss/_var.scss */ .classList li:before, .classList li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	/* line 369, static/ezpay/scss/_sub.scss */ .classList .set { float: left; width: 63.12%; }
	/* line 373, static/ezpay/scss/_sub.scss */ .classList .bset { float: right; width: 36.88%; } }

/* line 378, static/ezpay/scss/_sub.scss */ .classList .classView { display: block; background: url(/static/portal/img/common/dotx5.png) 0 bottom repeat-x; clear: both; padding-top: 40px; background-position: 0 20px; display: none; }

/* line 77, static/portal/scss/_var.scss */ .classList .classView:before, .classList .classView:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 385, static/ezpay/scss/_sub.scss */ .classList .classView .img { float: left; width: 150px; border: 1px solid #dedede; }

/* line 390, static/ezpay/scss/_sub.scss */ .classList .classView > dl { float: left; padding-left: 20px; width: calc(100% - 150px); }

/* line 394, static/ezpay/scss/_sub.scss */ .classList .classView > dl > dt { font-weight: bold; margin-bottom: 8px; }

/* line 398, static/ezpay/scss/_sub.scss */ .calendar { font-family: 'Noto Sans'; font-weight: 400; }

/* line 400, static/ezpay/scss/_sub.scss */ .calendar .ctrl { background-color: #399bda; border-radius: 5px 5px 0 0; font-size: 26px; font-family: 'Noto Sans'; font-weight: 400; text-align: center; color: #fff; border: 1px solid #3275ba; padding: 10px 0; }

/* line 409, static/ezpay/scss/_sub.scss */ .calendar .ctrl span { display: inline-block; padding: 0 25px; }

/* line 410, static/ezpay/scss/_sub.scss */ .calendar .ctrl button { width: 26px; height: 26px; background: url(/static/ezpay/img/common/calendar_ctrl.png) 7px center no-repeat; display: inline-block; }

/* line 415, static/ezpay/scss/_sub.scss */ .calendar .ctrl button:focus { border: 1px dotted #000; }

/* line 418, static/ezpay/scss/_sub.scss */ .calendar .ctrl button.next { background-position: -181px center; }

/* line 421, static/ezpay/scss/_sub.scss */ .calendar table { width: 100%; font-size: 17px; }

/* line 422, static/ezpay/scss/_sub.scss */ .calendar th { height: 50px; }

/* line 423, static/ezpay/scss/_sub.scss */ .calendar td { background-color: #f0f0f0; text-align: center; border-right: 2px solid #fff; border-bottom: 2px solid #fff; }

/* line 426, static/ezpay/scss/_sub.scss */ .calendar td.select { background-color: #c9f1cd; }

/* line 428, static/ezpay/scss/_sub.scss */ .calendar td.select a { color: #fff; }

/* line 431, static/ezpay/scss/_sub.scss */ .calendar a { display: block; padding: 18px 0; line-height: 1; }

/* line 432, static/ezpay/scss/_sub.scss */ .calendar .sun, .calendar .sun a { color: #f0669c; }

/* line 434, static/ezpay/scss/_sub.scss */ .calendar .sat, .calendar .sat a { color: #399bda; }

/* line 438, static/ezpay/scss/_sub.scss */ .choiceTime .ctrl { height: 60px; background-color: #f5f6fa; border-radius: 5px 5px 0 0; text-align: center; padding-top: 10px; border-bottom: 1px solid #399bda; overflow-y: auto; }

/* line 447, static/ezpay/scss/_sub.scss */ .choiceTime label { font-weight: bold; font-size: 14px; padding-left: 5px; padding-right: 5px; margin-bottom: 3px; }

/* line 448, static/ezpay/scss/_sub.scss */ .choiceTime .table { margin: 0; max-height: 375px; overflow-y: auto; }

/* line 453, static/ezpay/scss/_sub.scss */ .choiceTime .table table { min-width: 0; }

/* line 455, static/ezpay/scss/_sub.scss */ .choiceTime .table table th { height: 50px; background-color: #fff; color: #000; border-bottom: 1px solid #dedede; }

/* line 456, static/ezpay/scss/_sub.scss */ .choiceTime .table table td { height: 54px; padding-top: 0; padding-bottom: 0; }

/*# sourceMappingURL=default.css.map */
