@charset "UTF-8";
@import url(/static/jslibrary/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.css);
/* line 60, static/ezpay/scss/_var.scss */ .ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }

/* line 4, static/ezpay/scss/global.scss */ .seocoment { display: none; }

/* line 5, static/ezpay/scss/global.scss */ .keyboardControlActive { -webkit-transform: translate3d(0, 0, 0) !important; transform: translate3d(0, 0, 0) !important; }

/* line 8, static/ezpay/scss/global.scss */ #topKwd { ime-mode: active; }

/* line 11, static/ezpay/scss/global.scss */ .grid { display: none; }

/* line 13, static/ezpay/scss/global.scss */ .color_default { color: #242424; }

/* line 14, static/ezpay/scss/global.scss */ .color_point { color: #2c4a9e; }

/* line 15, static/ezpay/scss/global.scss */ .color_black { color: #000; }

/* line 16, static/ezpay/scss/global.scss */ .color_deepgray { color: #333; }

/* line 17, static/ezpay/scss/global.scss */ .color_orange { color: #f76627; }

/* line 18, static/ezpay/scss/global.scss */ .color_blue { color: #0059a9; }

/* line 19, static/ezpay/scss/global.scss */ .col_blue { color: #0059a9; }

/* line 20, static/ezpay/scss/global.scss */ .color_cobalt { color: #02728D; }

/* line 21, static/ezpay/scss/global.scss */ .col_cobalt { color: #02728D; }

/* line 22, static/ezpay/scss/global.scss */ .color_red { color: #e43b00; }

/* line 23, static/ezpay/scss/global.scss */ .col_red { color: #e43b00; }

/* line 24, static/ezpay/scss/global.scss */ .color_green { color: #3A7525; }

/* line 25, static/ezpay/scss/global.scss */ .col_green { color: #3A7525; }

/* font color */
/* line 31, static/ezpay/scss/global.scss */ .familySetOpen { position: absolute; right: 0; top: 71px; font-family: 'FontAwesome'; font-size: 20px; width: 48px; height: 30px; z-index: 601; }

@media (min-width: 992px) { /* line 31, static/ezpay/scss/global.scss */ .familySetOpen { display: none; } }

/* line 42, static/ezpay/scss/global.scss */ .familySetClose { display: none; }

/* line 44, static/ezpay/scss/global.scss */ #globalWarp { background-color: #061d45; position: relative; }

/* line 47, static/ezpay/scss/global.scss */ #globalWarp .set { max-width: 1140px; height: 40px; margin: 0 auto; }

/* line 52, static/ezpay/scss/global.scss */ #globalWarp .familySetToggle { font-size: 20px; position: absolute; right: 0; top: 40px; width: 45px; height: 70px; color: #333; background-color: transparent; font-family: 'FontAwesome'; }

@media (min-width: 992px) { /* line 52, static/ezpay/scss/global.scss */ #globalWarp .familySetToggle { display: none; } }

/* line 64, static/ezpay/scss/global.scss */ #globalWarp .set > .familySet.mobileOn > ul > li > div > ul { position: static; }

/* line 65, static/ezpay/scss/global.scss */ #globalWarp .set > .familySet.mobileOn > ul > li > div > ul > li a { text-align: left; }

/* line 68, static/ezpay/scss/global.scss */ #globalWarp .familySet { float: left; display: none; height: 40px; }

@media (min-width: 992px) { /* line 68, static/ezpay/scss/global.scss */ #globalWarp .familySet { display: block; } }

/* line 73, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li { float: left; }

@media (min-width: 992px) { /* line 73, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li { border: 2px solid #061d45; border-width: 0 1px; } }

/* line 79, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.active { background-color: #fff; }

/* line 81, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.active a { color: #000; border-color: #061d45; }

/* line 86, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.on { position: relative; background-color: #fff; }

/* line 89, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.on > a { color: #000; border-color: #061d45; position: relative; z-index: 1000; }

/* line 96, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.on > div a { color: #000; }

@media (min-width: 992px) { /* line 97, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.on > div > ul { position: absolute; display: block; top: 50px; left: -2px; z-index: 1000; padding: 10px 0; border: 2px solid #0059a9; background-color: #fff; } }

/* line 109, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.on > div > ul li { float: none; display: block; padding: 0 0 0 20px; }

/* line 113, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.on > div > ul li a { color: #000; line-height: 1; background: url(/static/portal/img/common/bu3.png) 0 center no-repeat; background-size: 5px; padding-left: 20px; padding: 8px 20px 8px 20px; font-size: 15px; text-align: left; white-space: nowrap; }

/* line 123, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.on > div > ul li a:hover, #globalWarp .familySet > ul > li.on > div > ul li a:focus { color: #008bce; text-decoration: underline; font-weight: bold; }

/* line 130, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li > div > ul { display: none; }

/* line 131, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li > a { padding: 0 4px; font-size: 15px; }

@media (min-width: 1140px) { /* line 131, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li > a { padding: 0 14px; } }

/* line 138, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.f1 > a:before { width: 19px; background-position: 0 0; }

/* line 139, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.f2 > a:before { width: 19px; background-position: -114px 0; }

/* line 140, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.f3 > a:before { width: 24px; background-position: -210px 0; }

/* line 141, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.f4 > a:before { width: 20px; background-position: -288px 0; }

/* line 142, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.f5 > a:before { width: 18px; background-position: -377px 0; }

/* line 143, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.f6 > a:before { width: 17px; background-position: -469px 0; }

/* line 144, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.f7 > a:before { width: 19px; background-position: -599px 0; }

/* line 145, static/ezpay/scss/global.scss */ #globalWarp .familySet > ul > li.f8 > a:before { width: 22px; background-position: -691px 0; }

/* line 147, static/ezpay/scss/global.scss */ #globalWarp .familySet a { padding: 0 8px; display: block; color: #fff; line-height: 40px; }

/* line 153, static/ezpay/scss/global.scss */ #globalWarp .familySet a .la, #globalWarp .familySet a .fa { display: none; }

@media (min-width: 1140px) { /* line 147, static/ezpay/scss/global.scss */ #globalWarp .familySet a { padding: 0 10px 0 35px; }
	/* line 156, static/ezpay/scss/global.scss */ #globalWarp .familySet a .la, #globalWarp .familySet a .fa { font-size: 20px; padding-right: 3px; display: inline-block; } }

/* line 160, static/ezpay/scss/global.scss */ #globalWarp .global { font-size: 14px; }

@media (min-width: 992px) { /* line 160, static/ezpay/scss/global.scss */ #globalWarp .global { float: right; padding-right: 95px; } }

/* line 166, static/ezpay/scss/global.scss */ #globalWarp .global .mynav { float: left; }

/* line 168, static/ezpay/scss/global.scss */ #globalWarp .global .mynav li { float: left; }

/* line 170, static/ezpay/scss/global.scss */ #globalWarp .global .mynav li a { display: block; color: #fff; line-height: 40px; padding: 0 12px; }

/* line 175, static/ezpay/scss/global.scss */ #globalWarp .global .mynav li a span.name { display: none; }

/* line 182, static/ezpay/scss/global.scss */ #header { position: relative; z-index: 500; width: 100%; border-bottom: 1px solid #e8e9ed; display: block; }

/* line 76, static/ezpay/scss/_var.scss */ #header:before, #header:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@media (min-width: 992px) { /* line 182, static/ezpay/scss/global.scss */ #header { margin: 0 auto; height: 130px; } }

/* line 192, static/ezpay/scss/global.scss */ #header .top { width: 100%; border-bottom: 1px solid #e8e9ed; padding-left: 0; padding-right: 0; height: 80px; }

/* line 195, static/ezpay/scss/global.scss */ #header .top .container { position: relative; }

@media (max-width: 991px) { /* line 192, static/ezpay/scss/global.scss */ #header .top { height: 60px; } }

@media (min-width: 992px) { /* line 207, static/ezpay/scss/global.scss */ #header .logo { padding-top: 0; position: absolute; left: 10px; top: 0; } }

/* line 214, static/ezpay/scss/global.scss */ #header .logo a { width: 270px; height: 60px; background: url(/static/portal/img/common/logo.png) center 0 no-repeat; background-size: auto 100%; display: block; margin: 0 auto; }

@media (min-width: 768px) { /* line 214, static/ezpay/scss/global.scss */ #header .logo a { width: 306px; height: 60px; } }

@media (min-width: 992px) { /* line 214, static/ezpay/scss/global.scss */ #header .logo a { background-position: 0 0; width: 306px; height: 80px; margin: 0; } }

/* line 235, static/ezpay/scss/global.scss */ #subtsh { display: none; }

/* line 238, static/ezpay/scss/global.scss */ .layoutSnsWrap { display: inline-block; vertical-align: middle; }

/* line 240, static/ezpay/scss/global.scss */ .layoutSnsWrap .sns-tweeter { background-image: url(/static/commons/img/sns/snstweeter.png); }

/* line 241, static/ezpay/scss/global.scss */ .layoutSnsWrap .sns-facebook { background-image: url(/static/commons/img/sns/snsfacebook.png); }

/* line 242, static/ezpay/scss/global.scss */ .layoutSnsWrap .sns-kakaostory { background-image: url(/static/commons/img/sns/snskakaostory.png); }

/* line 246, static/ezpay/scss/global.scss */ .layoutSnsWrap a { width: 26px; height: 26px; display: inline-block; background-size: cover; }

/* 자료담당자 */
/* line 255, static/ezpay/scss/global.scss */ .pageAdm { margin-top: 20px; background-color: #777c8a; }

@media (min-width: 992px) { /* line 255, static/ezpay/scss/global.scss */ .pageAdm { display: table; width: 100%; table-layout: fixed; } }

/* line 263, static/ezpay/scss/global.scss */ .pageAdm p { color: #fff; padding: 8px 0; line-height: 2; }

@media (max-width: 767px) { /* line 263, static/ezpay/scss/global.scss */ .pageAdm p { text-align: center; } }

/* line 270, static/ezpay/scss/global.scss */ .pageAdm p:first-child { padding-top: 15px; }

@media (min-width: 768px) { /* line 270, static/ezpay/scss/global.scss */ .pageAdm p:first-child { background: url(/static/portal/img/common/pageAdm-bu.png) 29px 15px no-repeat; background-size: 30px; padding-left: 70px; } }

/* line 278, static/ezpay/scss/global.scss */ .pageAdm p + p { border-top: 1px solid #acaeb5; }

@media (min-width: 768px) { /* line 278, static/ezpay/scss/global.scss */ .pageAdm p + p { padding-left: 70px; } }

@media (min-width: 992px) { /* line 263, static/ezpay/scss/global.scss */ .pageAdm p { padding: 15px 0; display: table-cell; }
	/* line 287, static/ezpay/scss/global.scss */ .pageAdm p + p { padding-left: 0; text-align: center; width: 25%; border-left: 1px solid #fff; } }

/* line 297, static/ezpay/scss/global.scss */ .pageComment { margin-top: 20px; border: 1px solid #dadada; padding: 15px; }

@media (min-width: 768px) { /* line 297, static/ezpay/scss/global.scss */ .pageComment { padding: 19px 29px; } }

/* line 304, static/ezpay/scss/global.scss */ .pageAdm + .pageComment { border-top: none; margin-top: 0; }

/* line 305, static/ezpay/scss/global.scss */ .pageComment input[name=opinionCn], .pageComment .col-md-9 input, .pageComment textarea { width: 100%; height: 40px; vertical-align: top; }

@media (max-width: 767px) { /* line 305, static/ezpay/scss/global.scss */ .pageComment input[name=opinionCn], .pageComment .col-md-9 input, .pageComment textarea { height: 60px; } }

@media (min-width: 992px) { /* line 305, static/ezpay/scss/global.scss */ .pageComment input[name=opinionCn], .pageComment .col-md-9 input, .pageComment textarea { height: 40px; line-height: 36px; text-indent: 10px; } }

/* line 314, static/ezpay/scss/global.scss */ .pageComment .pageCommentName { width: 100px; height: 40px; line-height: 40px; padding-left: 5px; }

@media (min-width: 992px) { /* line 314, static/ezpay/scss/global.scss */ .pageComment .pageCommentName { width: 100%; } }

/* line 321, static/ezpay/scss/global.scss */ .pageComment button { color: #fff; background-color: #f76627; height: 40px; width: 100%; }

/* line 328, static/ezpay/scss/global.scss */ .pageComment .row > div { margin-bottom: 2px; }

@media (min-width: 768px) { /* line 331, static/ezpay/scss/global.scss */ .pageComment .row > div + div { margin-bottom: 10px; padding: 0; } }

@media (min-width: 992px) { /* line 328, static/ezpay/scss/global.scss */ .pageComment .row > div { margin-bottom: 0; }
	/* line 335, static/ezpay/scss/global.scss */ .pageComment .row > div + div { margin-bottom: 0; } }

/* line 341, static/ezpay/scss/global.scss */ .lnb { padding-top: 30px; display: none; float: left; background-color: white; border-top-style: none; }

@media (min-width: 992px) { /* line 341, static/ezpay/scss/global.scss */ .lnb { display: block; width: 18.5%; width: 19.82456140350877%; } }

/* line 358, static/ezpay/scss/global.scss */ .lnb h2 { height: 240px; }

/* line 359, static/ezpay/scss/global.scss */ .lnb .lnbtitle, .lnb h2, .lnb h1 { font-size: 28px; font-family: 'Noto Sans'; font-weight: 500; color: #0059a9; text-align: left; padding: 29px 10px 0 29px; line-height: 1; background-color: #008bce; color: #0d5685; font-weight: normal; background: #008bce url(/static/ezpay/img/common/lnbtitbg1.png) right bottom no-repeat; }

/* line 373, static/ezpay/scss/global.scss */ .lnb.d-700006 h2 { background-image: url(/static/ezpay/img/common/lnbtitbg1.png); }

/* line 374, static/ezpay/scss/global.scss */ .lnb.d-700010 h2 { background-image: url(/static/ezpay/img/common/lnbtitbg2.png); }

/* line 375, static/ezpay/scss/global.scss */ .lnb.d-700001 h2 { background-image: url(/static/ezpay/img/common/lnbtitbg3.png); }

/* line 376, static/ezpay/scss/global.scss */ .lnb.d-700002 h2 { background-image: url(/static/ezpay/img/common/lnbtitbg4.png); }

/* line 377, static/ezpay/scss/global.scss */ .lnb.d-700003 h2 { background-image: url(/static/ezpay/img/common/lnbtitbg5.png); }

/* line 379, static/ezpay/scss/global.scss */ .lnb > ul > li { border-bottom: 1px solid #dee0e6; position: relative; }

/* line 382, static/ezpay/scss/global.scss */ .lnb > ul > li > a { padding: 16px 0 16px 28px; display: block; font-size: 16px; line-height: 1; position: relative; word-break: keep-all; font-family: 'Noto-Regular'; }

/* line 393, static/ezpay/scss/global.scss */ .lnb > ul > li > div:after, .lnb > ul > li > div:before { content: ''; width: 11px; height: 1px; background-color: #0059a9; position: absolute; right: 17px; top: 25px; transition: all .25s ease-out; }

/* line 400, static/ezpay/scss/global.scss */ .lnb > ul > li > div:after { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

/* line 402, static/ezpay/scss/global.scss */ .lnb > ul > li ul { display: none; }

/* line 404, static/ezpay/scss/global.scss */ .lnb > ul > li.on > a { background: #00486a; color: #fff; }

/* line 408, static/ezpay/scss/global.scss */ .lnb > ul > li.on ul { display: block; }

/* line 412, static/ezpay/scss/global.scss */ .lnb > ul > li.on > div:after { background-color: #fff; }

/* line 413, static/ezpay/scss/global.scss */ .lnb > ul > li.on > div:before { display: none; }

/* line 417, static/ezpay/scss/global.scss */ .lnb > ul > li ul { background-color: #f5f5f5; padding: 10px 0 10px 0; }

/* line 422, static/ezpay/scss/global.scss */ .lnb > ul > li ul li a { color: #696969; display: block; letter-spacing: -1px; padding: 13px 0 9px 42px; line-height: 1; background: url(/static/portal/img/common/lnbBu1.png) 28px 16px no-repeat; }

/* line 430, static/ezpay/scss/global.scss */ .lnb > ul > li ul li a span { padding-bottom: 3px; display: inline-block; border-bottom: 1px solid #f5f5f5; }

/* line 436, static/ezpay/scss/global.scss */ .lnb > ul > li ul li a:hover span, .lnb > ul > li ul li a:focus span, .lnb > ul > li ul li.on a span { border-bottom: 1px solid #0059a9; color: #0059a9; }

/* line 447, static/ezpay/scss/global.scss */ .swfapp { position: relative; text-align: right; }

/* line 450, static/ezpay/scss/global.scss */ .swfapp a { color: #fff; display: inline-block; padding: 10px; position: absolute; right: 0; top: 0; background-color: #000; }

/* line 458, static/ezpay/scss/global.scss */ .dbData .swfapp a { position: static; }

/* line 462, static/ezpay/scss/global.scss */ .loading { position: fixed; left: 0; width: 100%; text-align: center; margin-top: -120px; top: 50%; text-align: center; font-size: 18px; font-weight: bold; z-index: 999; }

/* line 473, static/ezpay/scss/global.scss */ .loading::after { content: ''; position: fixed; width: 100%; height: 100%; left: 0; top: 0; background-color: #000; background-color: rgba(255, 255, 255, 0.8); z-index: -1; }

/* line 484, static/ezpay/scss/global.scss */ .usS { color: #449d44; }

/* line 485, static/ezpay/scss/global.scss */ .spinner { width: 70px; text-align: center; margin: 40px auto; }

/* line 491, static/ezpay/scss/global.scss */ .spinner > div { width: 18px; height: 18px; background-color: #333; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

/* line 500, static/ezpay/scss/global.scss */ .spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }

/* line 504, static/ezpay/scss/global.scss */ .spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); }
	40% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); }
	40% { -webkit-transform: scale(1); transform: scale(1); } }

@media (min-width: 992px) { /* line 515, static/ezpay/scss/global.scss */ #content { min-height: 400px; } }

/*# sourceMappingURL=global.css.map */
