/*bdViewNav*/
.bdViewNav{
	margin:20px 0;
	overflow:hidden;
	display:table;
	width:100%;
	border-top:1px solid $bdcolor;
	border-bottom:1px solid $bdcolor;
	dl{
		display:table-row;
		>*{
			display:table-cell;
			vertical-align:middle;
		}
		dt{
			width:100px;
			text-align:center;
			padding:9px 0;
			position:relative;
			border-right:1px solid $bdcolor;
			background-color:#f1f3f6;
			// &:after {
			// 	content: '';
			// 	width:20px;
			// 	height:7px;
			// 	display:inline-block;
			// 	background: url(/static/ucms/img/ico-up.png) right 0 no-repeat;
			// }
			// &.n:after{
			// 	transform:rotate(180deg);
			// 	background-position:left 0;
			// }
		}
		dd{
			position:relative;
			@include breakpoint($md){
				padding-right:135px;
			}
			a,
			>span{
				overflow:hidden;
				display:inline-block;
				padding:3px 20px;
				@include breakpoint($md){
					padding:9px 20px;
					display:block;
				}
			}
			.date{
				display:none;
				@include breakpoint($md){
					display:block;
					position:absolute;
					right:0;
					top:0;
					text-align:center;
					width:135px;
				}
			}
			// &:after{
			// 	content: '';
			// 	position:absolute;
			// 	height:13px;
			// 	border-right:1px solid #b3b3b3;
			// 	left:0;
			// 	top:21px;
			// }
		}
	}
	dl:first-child>*{
		border-bottom:1px solid $bdcolor;
	}
	a span{
		float:right;
		width:17%;
		position:relative;
		text-align:center;
		&:after{
			content: '|';
			position:absolute;
			left:0;
			top:-1px;
			color:#d8d8d8;
			font-size:9px;
		}
	}
}