@import "static/bos/scss/breakpoint";
@import "static/portal/scss/var";
.familySetOpen{
	@include breakpoint($lg){display:none;}
	position: absolute;
	right: 0;
	top: 71px;
	font-family: 'FontAwesome';
	font-size: 20px;
	width: 48px;
	height: 30px;
	z-index:601;
}
.familySetClose{
	display:none; 
}
.gnbClose{display:none;}
#allmenu{
	@include breakpoint($smd){
		position:absolute;
		left:0;
		top:0;
		padding-top:20px;
	}
	@include breakpoint($lg){
		position:absolute;
		top:14px;
		right:18px;
	}
	>button{
		width:30px;
		width:48px;
		height:30px;
		text-align:center;
		background:none;
		font-size:21px;
		padding:0;
		&:after {
			content: '';
			font-family:'FontAwesome';
		}
	}
}
@include breakpoint( $smd ){
	#header{z-index: inherit}
	.familySetClose,
	.gnbClose{
		// display:block;
		position:absolute;
		right:0;
		top:0;
		width:54px;height:54px;
		background:#008bce url(/static/mayor/img/main/gnbClose.png) center center no-repeat;
		background-size:23px 21px;
		z-index:10000;
	}
	.gnbClose{
		position:fixed;
		top:50px;
	}
	#gnb>ul{display:none;}
	#gnb.mobileOn{
		.gnbClose{display:block;}
		display:block !important;
		position:absolute;
		left:0;
		top:0;
		// width:320px;
		width:50%;
		border-top:none;
		padding:54px 0 0 0;
		margin:0;
		z-index:601;

		position:fixed;
		top:50px;
		&:before {
			content: '';
			position:fixed;
			left:0;
			top:0;
			right:0;
			bottom:0;
			background-color:rgba(0,0,0,0.5);
			z-index:-1;
		}
		// 모바일 로고
		&:after {
			content: '';
			background:#fff url(/static/portal/img/common/logo.png) 33px center no-repeat;
			background-size:auto 34px;
			position:absolute;left:0;top:0;right:54px;
			height:54px;
			position:fixed;
			top:50px;
			width:calc(100% - 54px);
		}
		li{position:relative}
		>ul{
			display:block;
			border:1px solid $bdcolor;
			border-top:2px solid #008bce;
			background-color:#fff;
			>li{
				position:relative;
				>a{
					display:block;
					line-height:1;
					color:#333333;
					padding:17px 0 17px 45px;
					border-bottom:1px solid $bdcolor;
					background:#fff url(/static/mayor/img/main/mNavBu1.png) 18px center no-repeat;
					background-size:19px;
				}
				&.active>a{
					background-color:#f5fcff;
				}
				// 1뎁스
				&.active > div .dinfoSet > ul,
				// 2뎁스
				&.active > div .dinfoSet > ul > li.active > div > ul,
				&.hover .dinfoSet>ul{display:block;}
				&.active>div:after{transform:rotate(0);}
				>div{

					&:after,
					&:before{
						content: '';
						width:18px;height:2px;background-color:#008bce;
						position:absolute;right:17px;top:25px;
						transition: all .25s ease-out;
					}
					&:after{transform:rotate(90deg);}
					.img{display:none;}
					.dinfoSet{
						>ul{
							position:fixed;
							// width:50px;
							width:calc(50% - 80px);
							width:50%;
							height:calc(100vh - 104px);
							overflow-y:scroll;
							left:50%;
							top:50px + 54;


							border-top:2px solid #008bce;
							display:none;
							background-color:#f1f1f1;
							>li{
								border-bottom:1px solid $bdcolor;
								position:relative;
								>div{
									&:after,
									&:before{
										content: '';
										width:18px;height:2px;background-color:#757575;
										position:absolute;right:17px;top:25px;
										transition: all .25s ease-out;
									}
									&:after{transform:rotate(90deg);}
									>ul{display:none;}
								}
								&.active{background-color:#f5fcff;}
								&.active>div:after{transform:rotate(0)}
								&.active>ul{display:block;}
								a{
									display:block;
									padding:12px 0 12px 26px;
									background: url(/static/portal/img/common/mNavBu2.png) 8px center no-repeat;
									background-size:13px;
								}
								li a{
									// 3뎁스 점불릿
									border-top:1px solid $bdcolor;
									background: url(/static/portal/img/common/mNavBu3.png) 10px center no-repeat;
									background-size:6px;
									// padding:5px 30px 5px 26px;
									padding-left:26px;
								}
							}
						}
						li.active>div:after{transform:rotate(0)}
						li.active>div>ul{display:block;}
						li.active>div:after{transform:rotate(0)}

						.depth4{
							background-color:#fff;
							margin:0 10px;
							&:after,
							&:before{
								content: '';
								width:18px;height:2px;background-color:#757575;
								position:absolute;right:17px;top:25px;
								transition: all .25s ease-out;
							}
							&:after{transform:rotate(90deg);}
							ul{
								
								border:1px solid $bdcolor;
								padding:10px 0;
								margin-bottom:10px;
								display:none;
							}
							li{}
							a{
								display:block;
								background: url(/static/portal/img/common/mNavBu4.png) 8px 11px no-repeat;
								background-size:4px;
								border:none;
								padding:2px 0 2px 18px;
								font-size:15px;
							}
						}
					}

				}
			}
		}
	}
	
	#globalWarp .familySet.mobileOn{
		display:block !important;
		position:absolute;
		right:0;
		top:50px;
		width:100%;
		width:320px;
		border-top:none;
		padding:54px 0 0 0;
		margin:0;
		z-index:602;
		.familySetClose{display:block;}
		&:before {
			content: '';
			position:fixed;
			left:0;
			top:0;
			right:0;
			bottom:0;
			background-color:rgba(0,0,0,0.5);
			z-index:-1;
		}
		&:after {
			content: '';
			background:#fff url(/static/portal/img/common/logo.png) 10px 10px no-repeat;
			background-size:auto 34px;
			position:absolute;left:0;top:0;right:54px;
			height:54px;
		}

		>ul{
			border:1px solid $bdcolor;
			border-top:2px solid #008bce;
			>li{
				position:relative;
				float:none;
				
				>a{
					display:block;
					line-height:1;
					color:#333333;
					padding:17px 0 17px 45px;
					border-bottom:1px solid $bdcolor;
					background:#fff url(/static/mayor/img/main/mNavBu1.png) 18px center no-repeat;
					background-size:19px;
				}
				&.on>a{
					background-color:#f5fcff;
				}
				&.on>div>ul,
				// &:hover>div>ul,
				&.hover>div>ul{display:block;}
				&.on>div:after{transform:rotate(0);}
				>div{
					&:after,
					&:before{
						content: '';
						width:18px;height:2px;background-color:#008bce;
						position:absolute;right:17px;top:25px;
						transition: all .25s ease-out;
						z-index:10002;
					}
					&:after{transform:rotate(90deg);}
					>ul{
						display:none;
						background-color:#f1f1f1;
						>li{
							border-bottom:1px solid $bdcolor;
							a{
								display:block;
								padding:17px 0 17px 45px;
								background: url(/static/mayor/img/main/mNavBu2.png) 22px center no-repeat;
								background-size:13px;
							}
						}
					}
				}
			}
		}
	}
	// 모바일 메뉴 활성화
	#gnb.mobileOn > ul > li.active > div .dinfoSet > ul > li.active > div > ul{
		display:block;
		>li.active{
			>div{
				
				>ul{
					display:block;
					>li.active{
						a{
							color:$sitecolor;
							text-decoration:underline;
						}
					}
				}
			}
		}
	}
}