@charset "UTF-8";
/* line 4, static/commons/scss/layout2.scss */ #subvisual { display: none; clear: both; }

@media (min-width: 768px) { /* line 4, static/commons/scss/layout2.scss */ #subvisual { height: 120px; border-top: 1px solid #dee0e6; background: url(/static/portal/img/common/subvisual1.jpg) center 0 no-repeat; background-size: cover; display: flex; flex-direction: row; justify-content: center; align-items: center; }
	/* line 16, static/commons/scss/layout2.scss */ #subvisual p { text-align: center; font-family: 'Noto-Light'; font-size: 30px; color: #fff; } }

/* line 25, static/commons/scss/layout2.scss */ #container { display: block; max-width: 1140px; margin: 0 auto; }

/* line 77, static/portal/scss/_var.scss */ #container:before, #container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 33, static/commons/scss/layout2.scss */ #container main { padding: 0 10px; }

@media (min-width: 992px) { /* line 33, static/commons/scss/layout2.scss */ #container main { float: right; padding-left: 40px; padding-right: 0; width: 81.5%; } }

@media (min-width: 1140px) { /* line 33, static/commons/scss/layout2.scss */ #container main { width: 1000px; padding-left: 0; } }

/* line 46, static/commons/scss/layout2.scss */ #container .hgroup { position: relative; margin-bottom: 16px; }

@media (min-width: 992px) { /* line 46, static/commons/scss/layout2.scss */ #container .hgroup { margin-bottom: 25px; } }

/* line 52, static/commons/scss/layout2.scss */ #container .hgroup h1 { font-size: 24px; padding: 30px 0 8px; color: #0059a9; line-height: 1.2; border-bottom: 1px solid #dee0e6; margin-bottom: 16px; }

@media (min-width: 992px) { /* line 52, static/commons/scss/layout2.scss */ #container .hgroup h1 { font-family: 'Noto-Regular'; font-size: 30px; padding: 30px 0 24px; } }

/* line 65, static/commons/scss/layout2.scss */ #container .hgroup p { color: #757575; line-height: 1; font-size: 14px; }

@media (min-width: 992px) { /* line 65, static/commons/scss/layout2.scss */ #container .hgroup p { font-size: 1em; } }

/* line 72, static/commons/scss/layout2.scss */ #container .hgroup p span { font-family: consolas; vertical-align: middle; display: inline-block; line-height: 1; vertical-align: top; }

/* line 79, static/commons/scss/layout2.scss */ #container .hgroup p .t { font-family: "Noto Sans", "HelveticaNeue-Light", "AppleSDGothicNeo-Light", "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", sans-serif; }

/* line 81, static/commons/scss/layout2.scss */ #container .hgroup p .t:last-child { color: #0059a9; font-weight: bold; }

/* line 88, static/commons/scss/layout2.scss */ #container .hgroup .home:after { content: ''; font-family: 'FontAwesome'; color: #0059a9; }

/* line 95, static/commons/scss/layout2.scss */ #container .hgroup .utilSet { display: none; position: absolute; right: 0; bottom: -12px; }

@media (min-width: 992px) { /* line 95, static/commons/scss/layout2.scss */ #container .hgroup .utilSet { display: block; } }

/* line 103, static/commons/scss/layout2.scss */ #container .hgroup .utilSet .btn-print { background: none; }

/* line 105, static/commons/scss/layout2.scss */ #container .hgroup .utilSet .btn-print:after { content: ''; font-family: 'FontAwesome'; font-size: 24px; color: #000000; }

/* line 121, static/commons/scss/layout2.scss */ #allNav { display: none; background-color: rgba(0, 0, 0, 0.5); position: fixed; left: 0; right: 0; bottom: 0; top: 0; margin: auto; flex-direction: row; justify-content: center; align-items: center; }

@media (min-width: 992px) { /* line 123, static/commons/scss/layout2.scss */ #allNav.on { display: block; } }

/* line 135, static/commons/scss/layout2.scss */ #allNav .set { flex: 1; position: relative; background-color: #fff; box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.55); max-width: 1140px; margin: 0 auto; }

/* line 143, static/commons/scss/layout2.scss */ #allNav .set h1 { color: #0059a9; line-height: 1; border-bottom: 2px solid #0059a9; text-align: center; font-family: 'Noto-Bold'; line-height: 53px; }

/* line 151, static/commons/scss/layout2.scss */ #allNav .set .allNavClose { position: absolute; right: -1px; top: -1px; right: 0; top: 0; width: 54px; height: 54px; background: #0059a9 url(/static/portal/img/common/allnavclose.png) 50% 50% no-repeat; }

/* line 163, static/commons/scss/layout2.scss */ #allNav .s > ul { padding: 20px; height: 644px; overflow-y: auto; -webkit-overflow-scrolling: touch; }

/* line 169, static/commons/scss/layout2.scss */ #allNav .s > ul > li > a { display: none; }

/* line 170, static/commons/scss/layout2.scss */ #allNav .s > ul > li .img { background-color: #f5fcff; text-align: center; font-size: 22px; color: #006da1; font-family: 'Noto-Bold'; line-height: 40px; }

/* line 179, static/commons/scss/layout2.scss */ #allNav .s > ul > li .dinfoSet > ul { display: block; padding: 20px 10px; }

/* line 77, static/portal/scss/_var.scss */ #allNav .s > ul > li .dinfoSet > ul:before, #allNav .s > ul > li .dinfoSet > ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 182, static/commons/scss/layout2.scss */ #allNav .s > ul > li .dinfoSet > ul > li { float: left; width: 25%; padding: 0 10px; }

/* line 186, static/commons/scss/layout2.scss */ #allNav .s > ul > li .dinfoSet > ul > li:nth-child(4n+1) { clear: both; }

/* line 187, static/commons/scss/layout2.scss */ #allNav .s > ul > li .dinfoSet > ul > li > a { font-family: 'Noto-Bold'; font-size: 18px; color: #4f4f4f; display: block; padding-left: 34px; background: #f1f1f1 url(/static/portal/img/common/mNavBu2.png) 10px center no-repeat; background-size: auto 14px; }

/* line 196, static/commons/scss/layout2.scss */ #allNav .s > ul > li .dinfoSet > ul > li div > ul { padding: 9px; }

/* line 199, static/commons/scss/layout2.scss */ #allNav .s > ul > li .dinfoSet > ul > li div > ul li a { display: block; text-indent: -12px; padding: 8px 0 7px 12px; font-size: 15px; line-height: 1; }

/* line 205, static/commons/scss/layout2.scss */ #allNav .s > ul > li .dinfoSet > ul > li div > ul li a:before { content: '- '; }

/* line 217, static/commons/scss/layout2.scss */ #allNav .img::before { content: ''; background: url(/static/portal/img/common/allnav1.png) right center no-repeat; width: 33px; height: 32px; display: inline-block; vertical-align: middle; margin-right: 13px; }

/* line 224, static/commons/scss/layout2.scss */ #allNav .i2:before { background-image: url(/static/portal/img/common/allnav2.png); }

/* line 225, static/commons/scss/layout2.scss */ #allNav .i3:before { background-image: url(/static/portal/img/common/allnav3.png); }

/* line 226, static/commons/scss/layout2.scss */ #allNav .i4:before { background-image: url(/static/portal/img/common/allnav4.png); }

/* line 227, static/commons/scss/layout2.scss */ #allNav .i5:before { background-image: url(/static/portal/img/common/allnav5.png); }

/*# sourceMappingURL=layout2.css.map */
