@charset "UTF-8";

/* line 145, static/bos/scss/_table.scss */ .calendarSet { line-height: 40px; overflow: hidden; margin-bottom: 20px; }

/* line 149, static/bos/scss/_table.scss */ .calendarSet .ctrl { float: left; }

/* line 151, static/bos/scss/_table.scss */ .calendarSet .ctrl * { vertical-align: top; }

/* line 152, static/bos/scss/_table.scss */ .calendarSet .ctrl button { border: 1px solid #0059a9; width: 40px; height: 40px; text-align: center; display: inline-block; padding: 0; line-height: 40px; border-radius: 50%; background-color: #fff; }

/* line 162, static/bos/scss/_table.scss */ .calendarSet .ctrl button i { font-size: 16px; line-height: 40px; vertical-align: top; display: inline-block; color: #0059a9; }

/* line 164, static/bos/scss/_table.scss */ .calendarSet .ctrl span { color: #0059a9; display: inline-block; font-weight: bold; font-size: 22px; line-height: 40px; padding: 0 20px; }

/* line 173, static/bos/scss/_table.scss */ .calendarSet .infor { margin-left: 20px; float: left; }

/* line 176, static/bos/scss/_table.scss */ .calendarSet .infor span { padding: 0 15px; }

/* line 177, static/bos/scss/_table.scss */ .calendarSet .infor i { font-size: 22px; color: #0059a9; vertical-align: middle; }

/* line 180, static/bos/scss/_table.scss */ .calendarSet .ctrlDirect { float: right; }

/* line 184, static/bos/scss/_table.scss */ .calendarTable { border-top: 2px solid #0059a9; }

/* line 186, static/bos/scss/_table.scss */ .calendarTable caption { display: none; }

/* line 187, static/bos/scss/_table.scss */ .calendarTable table { width: 100%; table-layout: fixed; }

/* line 190, static/bos/scss/_table.scss */ .calendarTable table thead tr th { border-top: none; padding: 15px 0; }

/* line 194, static/bos/scss/_table.scss */ .calendarTable th, .calendarTable td { border: 1px solid #dddddd; }

/* line 197, static/bos/scss/_table.scss */ .calendarTable th { background-color: #f0f2f7; }

/* line 200, static/bos/scss/_table.scss */ .calendarTable td { padding: 15px; vertical-align: top; }

/* line 203, static/bos/scss/_table.scss */ .calendarTable td .day { display: inline-block; width: 25px; height: 25px; text-align: center; line-height: 25px; }

/* line 208, static/bos/scss/_table.scss */ .calendarTable td .day.today { color: #fff; background-color: #0059a9; border-radius: 100%; }

/* line 214, static/bos/scss/_table.scss */ .calendarTable td .scheduleBtn { position: relative; text-align: center; font-size: 22px; color: #0059a9; cursor: pointer; }

/* line 220, static/bos/scss/_table.scss */ .calendarTable td .scheduleBtn > span { display: inline-block; border-radius: 100%; border: 1px solid #dddddd; width: 36px; height: 36px; line-height: 36px; text-align: center; }

/* line 229, static/bos/scss/_table.scss */ .calendarTable td .scheduleInfor { position: relative; display: none; z-index: 1; }

/* line 233, static/bos/scss/_table.scss */ .calendarTable td .scheduleInfor dl { position: absolute; background-color: #fff; width: 302px; top: 5px; left: calc(50% - 151px); border: 2px solid #688ccf; padding: 20px; }

/* line 242, static/bos/scss/_table.scss */ .calendarTable td .scheduleInfor dl:before { content: ''; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 10px solid #688ccf; position: absolute; top: -10px; left: 143px; z-index: 1; }

/* line 254, static/bos/scss/_table.scss */ .calendarTable td .scheduleInfor dl:after { content: ''; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 8px solid #fff; position: absolute; top: -8px; left: 145px; z-index: 2; }

/* line 266, static/bos/scss/_table.scss */ .calendarTable td .scheduleInfor dl dt { font-weight: bold; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px dotted #688ccf; }

/* line 274, static/bos/scss/_table.scss */ .calendarTable td .scheduleInfor dl dd em { font-style: normal; color: #0059a9; }


/* modal 관련(bootstrap.css과 동일) */
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.modal-header:after,
.modal-footer:after {
  clear: both;
}