/*paging*/
$pagingActiveBg : transparent;
$pagingActiveBg : #344891;
$pagingActiveColor : #fff;
$pagingbdcolor : #dfe1e5;
$pagingbgcolor : #fff;
$lmargin : -1px;
$width:40px;
$height:40px;

.paginationSet{
	text-align:center;
	margin-top:30px;
	.btnSet+&{margin-top:20px}
}
.paging{text-align: center;margin-top:30px;}
.pagination{
	display:inline-block;padding-left:0;text-align:center;
	em{font-style: normal}
	>li{display:inline;}
	>li>a,
	>li>span{
		position:relative;
		float:left;
		padding:0;
		text-decoration:none;
		width:$width;
		height:$height;
		line-height:$height;
		font-size:14px;
		background-color:$pagingbgcolor;
		border:none;
		margin:0 $lmargin;
		color:#666;
		border:1px solid $pagingbdcolor;

		.gbox2 &{
		}
	}
	>li{
		&.first>*,
		&.prev>*,
		&.next>*,
		&.end>*{
			background-image:url(/static/commons/img/paging.png);
			// background-size:80px 20px;
			border:1px solid #dee0e6;
			@include breakpoint($lg){
				// background: url(/static/kspo/img/common/pagingset.png) 0 0 no-repeat;
			}
			width:$width;
			// font-size:13px;
			// padding-left:29px;
			// text-align:left;
			&:before {content: '';display:inline-block;}
		}
		.t,
		.s span{position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0}
	}
}
.pagination>li.first>* 	{
	&:before {}
}
.pagination>li.prev>* 	{
	background-position:-$height 0;
	margin-right:27px;
	&:before {}
}
.pagination>li.next>* 	{
	background-position:-508px 0;
	margin-left:27px;
	&:before {}
}
.pagination>li.end>* 	{
	background-position:right 0;
	&:before {}
}

.pagination{
	>li:first-child>a,
	>li:first-child>span {margin-left: 0;}
	>li:last-child>a,
	>li:last-child>span {}
	>li>a:hover,
	>li>span:hover,
	>li>a:focus,
	>li>span:focus {
		z-index: 2;
		text-decoration:underline;
	}

	// active
	>.active>a,
	>.active>span,
	>.active>a:hover,
	>.active>span:hover,
	>.active>a:focus,
	>.active>span:focus {
		color:$pagingActiveColor;
		background-color:$pagingActiveBg;
		z-index: 3;
		cursor: default;
		font-weight:normal;
		text-decoration:underline;
	}
	// disabled
	>.disabled>span,
	>.disabled>span:hover,
	>.disabled>span:focus,
	>.disabled>a,
	>.disabled>a:hover,
	>.disabled>a:focus {cursor: not-allowed;opacity:0.7;border-color:#d8d8d8;display:none;}
}

@include breakpoint(max-width 767px){
	.paginationSet > ul > li.i > a{
		// width:$width/2;
		// border:none;
	}
	.paginationSet > ul > li.i > a > span.s{
		position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);
		border:0
	}
	// .pagination > li.next > *{background-position:-580px 0;}
}
@include breakpoint(max-width 480px){
	.paginationSet{
		// margin-left:-15px;margin-right:-15px;
	}
	.paginationSet > ul > li.i > a{}
	// .pagination > li > a, .pagination > li > span{padding:0 3px;}
	.pagination > li.prev > *{margin-right:0;}
	.pagination > li.next > *{margin-left:0;}
}