.olnum{
	list-style:none;
	@include clearfix;
	margin-right:-11px;
	li{
		list-style:none;
		width:33.333%;
		float:left;
		padding-right:11px;
		margin-bottom:12px;
		a{
			color:#163d40;
			display:block;
			padding:10px 0 10px 38px;
			font-size:15px;
			font-weight:bold;
			background-color:#e7ebec;
			letter-spacing:-1px;
			border-radius:5px;
			box-shadow: 1px 2px 0 0 #b9bcbd;
			&:hover,
			&:focus,
			&:active{
			}
		}
	}
}
.privatetxt{
	h2{
		font-size:22px;
		font-weight:bold;
		line-height:1;
		margin:60px 0 20px;
		position:relative;
		&:before {
			content: '';
			position:absolute;
			width:60px;
			height:2px;
			background-color:#163d40;
			left:0;
			top:-22px;
		}
	}
	ol{
		padding:0;
		margin:0;
		font-size:15px;
		line-height:1.67;
	}
	li{
		li{
			text-indent:-10px;
			padding-left:10px;
			&:before {
				content: '- ';
				display:inline;
			}
		}
	}
}
