@import url(/static/font/NotoSans/notosans.css);
@import url(/static/font/font-awesome-4.7.0/css/font-awesome.min.css);
@import url(/static/font/line-awesome/css/line-awesome.min.css);
@import url(/static/commons/css/common.css);
@import url(/static/commons/css/grids.css);
@import url(/static/portal/css/footer.css);
@import url(/static/jslibrary/slick/slick.css);


// @import "static/jslibrary/slick/slick.scss";        
.slick-list{
	overflow:hidden;
}

@import "../../bos/scss/breakpoint";
@import "var";

@import "form";//폼 관련 input,select
// @import "layout";
@import url(/static/portal/css/layout.css);

@import "sprite1";
@include sprites($spritesheet-sprites);
.icon {
  display: inline-block;
}
h1,h2,h3,h4,
body{
	font-family:'Noto Sans';
	font-weight:300;
}
body{
	overflow-x:hidden;
}
h1,h2,h3,h4{font-weight:400;}


#content{
	float: left;
	width: 100%;
	clear: both;
}

#visualSet {
	// height: 320px;
	@include breakpoint($md){ height: 270px; }
	@include breakpoint($lg){ height: 420px; 
		&:after {
			left:50%;
			margin-left:800px;
		}
		&:before{
			right: 50%;
			margin-right: 800px;
		}
		&:after ,
		&:before {
			content: '';
			height: 420px;
			position: absolute;
			top: 0;
			width: 1000px;
			background-color: #000;
			opacity: 0.4;
			z-index: 2;
		}
	}
	@include breakpoint(992px 1276px){ height: 320px; }
	position: relative;
	overflow: hidden;
	@include breakpoint($sm){
		margin-bottom:15px;
	}
	.ctrl{
		position: absolute; 
		z-index: 1;
		bottom: 30px;
		left: calc(50% + 40px);

		// margin-left: -570px;
		
		@include breakpoint($md){ margin-left: -360px; }
		@include breakpoint($lg){ margin-left: -570px; }
		@include breakpoint(992px 1276px){ margin-left: -470px; }
		button{
			padding:0;
			color:#fff;
			font-size: 24px;
			width: 50px;
			height: 50px;
			line-height: 50px;
			background-color: #707685;
			float:left;
			&+button{border-left:1px solid #8d919d;}
			// margin-right: -3px;
		}
		@include breakpoint($sm){
			margin-left: 0px;
			left: 2%;
			bottom:10px;
			button{
				line-height:25px;
				width:25px;
				height:25px;
				overflow:hidden;
			}
		}
	}
	.visualSlide{
		.items{ 
			height:100%;
			width:100%;
			max-width:100vw;
			@include breakpoint($lg){
				max-width:1600px;
			}
			float:left;
			// display: inline-block;
			// float: left;
			a{
				display:block;
				height: 420px;
				width: 100%;
				width:100vw;
				@include breakpoint($lg){
					width:100%;
					// border:1px solid #000;
				}
			}
			.bg{ 
				display: block;
				width:100%;
				height:300px;
				background-position: 50% 0;
				background-repeat: no-repeat;
				@include breakpoint($lg){	width: 100%;height: 100%;	}
				@include breakpoint($md){ background-size: auto 100%; }
				@include breakpoint(992px 1276px){ background-size: auto 320px; }
				@include breakpoint($xs){ background-size: auto 40%; }
			}
			@include breakpoint($sm){
				a{
					height:auto;
					background-color:#fff;
					touch-action: pan-x;
					touch-action: none;
					.bg{
						height:auto;
						background-size:cover;
						&:before {
							content: '';
							display:block;
							padding-top:38%;
							height:0;
						}
					}
				}
			}
		}
	}
}
#serviceLink {
	.container{
		position: relative;	
	}	
	@include breakpoint($lg){height: 60px;}
	margin-bottom: 30px;
	>div>ul {}
	>div>ul>li{
		display: inline-block; 
		float: left;
		border-left:1px solid #ddd;
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		width: 16.66666%;
		@include breakpoint($sm){
			width: 50%;
			margin-top:-1px;
			&:nth-child(2n){
				border-right:1px solid #ddd;
			}
		}
		@include breakpoint($mdf){
			width: 33.33333%;
			&:nth-child(3){
				border-right:1px solid #ddd;
			}
		}
		@include breakpoint($lg){
			width: 16.66666%;
		}
		&:last-child{
			border-right:1px solid #ddd;
		}
		>a{
			display: block;
			img{
				display: inline-block;
				vertical-align: middle;
				margin-right:10px;
			}
			font-size: 16px;
			font-weight: 400;
			line-height: 58px;
			text-align: center;
			letter-spacing:-1px;
		}
	}
}
#facility {
	height: 215px;
	h3 { font-size: 24px; margin-top: 5px; letter-spacing: -2px; margin-bottom: 12px; 
		@include breakpoint($sm){font-size:18px;}
	}
	.slideSet{
		width: 48%;
	}
	.container>div{
		width: 49%;
		@include breakpoint($lg){ width: 49%; }
		@include breakpoint($sm){ width: 100%; }
		float: left;
		position: relative;
		&.sportSet{margin-right: 2%;}
	}
	.sliderSet{
		overflow: hidden; 
		height: 130px;
		position: relative;
		.ctrl{position: absolute; width: 100%;
			button{ 
				position: absolute; top:10px; width: 65px;height: 70px; text-align: left; padding: 0;
				font-size: 50px; color:#6a6a6a;
				&:hover,
				&:focus,
				&:active{
					color:#333;
				}
				&.sportsSlideLt{left: -10px;}
				&.welfareSlideLt{left: -10px;}
				&.sportsSlideRt{right: -10px; text-align: right;}
				&.welfareSlideRt{right: -10px; text-align: right;}
			}
		}
		.slider{
			margin:0 10%; width: 80%; float: left;  overflow: hidden;
			@include breakpoint($lg){ margin:0 60px; width: 440px; }
			@include breakpoint(992px 1276px){ margin: 0 10%; width: 80%; }

		}
		.items{
			float: left; width: 140px; height: 150px; text-align: center;
			a{display:block;}
			img{display:inline;}
		}
		.txt{clear: both; display: block; font-size: 16px;}
	}
}
#lastest1 {
	margin-bottom:10px;
	@include breakpoint($md){height: 270px;margin-bottom: 40px;}
	@include breakpoint($lg){height: 300px;}
	.infomation{
		width: 100%;
		@include breakpoint($md){ width: 49%;	}
		@include breakpoint($lg){ width: 558px;	}
		@include breakpoint(992px 1276px){ width:49%;	}
		float: left;
		>div{
			@include breakpoint($md){
				width: 48%;
				float: left;
				height: 270px;
			}
			@include breakpoint($lg){
				height:300px;
			}
			padding:0;
		}
		.conversation{
			h3{ 
				font-size: 24px;
				letter-spacing: -1px;
				margin-bottom: 14px;
				line-height:1;
				@include breakpoint($smd){font-size: 20px;}
			}
			// min-height:180px;
			@include breakpoint($md){
				margin-right: 4%;
			}
			
			background:url(/static/portal/img/main/conversationbg.png) 0 0 repeat-x;
			background-size:auto 100%;
			a{
				padding:20px;
				background: url(/static/portal/img/main/conversation.png) no-repeat 100% 100%;
				@include breakpoint($smd){ background-size: 150px auto;}
				@include breakpoint($lg){
					background-size: auto;
					padding:26px 30px;
				}
				@include breakpoint(992px 1275px){background-size:calc(100% - 30px) auto;}
				
				@include breakpoint($lg){

				}
				display: inline-block;
				width: 100%;
				height: 100%;
				min-height:180px;
				p{
					font-size: 14px; 
					line-height: 150%;
					@include breakpoint($sm){
						padding-right:120px;
						br{display:none;}
					}
					@include breakpoint($md){
						width: 140px;
					}
				}
				.more{display: inline-block; padding: 3px 0;margin-top: 8px; border-bottom:1px solid #333;}
			}
		}

		.popupZoneSet{
			position: relative;
			overflow: hidden;
			.ctrl{
				button{
					position: absolute; z-index: 10; bottom: 0;width: 50px;height: 50px; background-color:#3079b0; color:#fff; font-size: 24px;
					padding:0;
					&.popupZoneRt{right: 0;}
				}
			}
			.popupZone{
				position:absolute;bottom:0;
				width: 100%;
				height: 100%;
				.items{
					float: left;
					width: 265px;
					a{
						display:block;
						margin:2px;
						img{
							display: block;
    					width: 100%;
							vertical-align:top;
						}
						&:focus{outline:1px solid #000;}
					}
				}
			}
		}
	}
}

.box1 .more { position: absolute; top:0; right: 0; width: 50px; height: 40px; 
	font-size: 24px; display: none; text-align: right;line-height: 48px;
	&.on{display: block;}
}

#lastest2 {
	height: 300px;
	margin-bottom: 30px;	
	.infomation{
		width: 49%;
		@include breakpoint($lg){ 
			width: 558px;
		}
		@include breakpoint(992px 1276px){
			width:49%;
		}
		@include breakpoint($sm){ 
			width: 100%;
			margin-bottom: 20px;
		}
		float: left;
		h3{letter-spacing: -1px; margin-bottom: 5px;font-weight:500;}
		.form-group{
			margin-bottom: 2px;
			clear:both;
			float: left;
			width: 100%;
			select{ width: 75%; float: left; border-right:none;height:40px; font-size: 16px;}
			button{ width: 25%; float: left;  color:#fff; height: 40px;line-height: 40px; background-color:#707685; font-size: 14px; }
			@include breakpoint(768px 1276px){
				select{font-size: 12px; padding: 0;}
				button{font-size: 12px; padding:0;}
			}
		}
		.bg{
			display: block;
			width: 100%;
			height: 100px;
		}
		>div{
			padding:26px 30px 30px 30px;
			@include breakpoint($sm){
				width:100%;
			}
			@include breakpoint(768px 991px){ 
				width: 48%;
				float: left;
				padding: 15px 10px 15px 10px;
				width: 49%;
			}
			@include breakpoint($md){
				width: 48%;
				float: left;
			}
			
		}
		.sportInfo{
			@include clearfix();
			h3{color:#695454;}
			.bg{background: url(/static/portal/img/main/sportInfo.gif) no-repeat 50% 0; }
			background-color: #f0eeee;
			margin-right: 4%;
			@include breakpoint($smd){ 
				margin-right: 2%;	
			}
		}
		.welfareInfo{
			h3{color:#707685;}
			@include clearfix();
			.bg{background: url(/static/portal/img/main/welfareInfo.gif) no-repeat 50% 0; }
			background-color: #eaedf3;
		}
	}
}

.boxList .box1 { 
	width: 49%;
	margin-right: 2%;
	height: 280px;
	a{color:#666;}

	@include breakpoint($sm){
		margin-right: 0;
		width: 100%;
	}
	@include breakpoint($lg){
		margin-right: 30px;
		width: 552px;
	}
	@include breakpoint(992px 1276px){
		width:49%;
		margin-right: 2%;
	}
	position: relative;
	float: left;
	&:before{content:""; width: 100%;height: 1px;border-bottom:1px solid #ddd; display: block;
		position: absolute;top: 50px;z-index: -1;
	}
	&:after{content:""; width: 100%;height: 200px; display: block;}
	h3 { 
		font-size: 20px; margin-top: 0; display: inline-block;
		a { 
			padding: 0 12px; 
			@include breakpoint($smd){padding: 0 3px;}
			color:#666; 
			letter-spacing:-2px;
			font-size: 18px;
			@include breakpoint($smd){font-size: 15px;}
			line-height: 50px;
			display: inline-block;
			font-weight: normal;
			&.on {font-size: 20px; font-weight: 400; color:#222; border-bottom:2px solid #f00;
				@include breakpoint($sm){font-size:16px;}
			}
		}
	}
	>ul { 
		display:none; 
		position: absolute;
		top: 68px;
		width: 100%;
		height: 220px;
		&.on{display: block;}
		>li{width: 100%; position: relative;
			float: left;
			a { 
				display:block; 
				float: left; 
				width: 100%;
				font-size: 16px;
				@include breakpoint($smd){ font-size: 14px;}
				line-height: 34px; 
			}
		}
	}
	.title{
		padding-right: 80px; 
		position: relative;
		width: 100%;
		display: block;float: left;
		&:before{
			margin-left: 10px;
			content:'•';
			float: left;
			margin-right: 5px;
		}
		.con{
			&:hover,
			&:focus{ text-decoration: underline;}
			strong{font-weight:400;}
			@include ellipsis; 
			max-width: 90%; 
			float: left;
			@include breakpoint($sm){ max-width: calc(100% - 82px); }
			@include breakpoint($md){ max-width: 74%;}
			@include breakpoint($lg){ max-width: 80%; }
		}
		.new{
			background: url(/static/commons/img/new.gif) no-repeat left center;
			width:22px;
			// height:22px;
			line-height:18px;
			height:16px;
			// float: left;
			margin-left: 5px;
			margin-top: 5px;
			display:inline-block;
			vertical-align:top;
			border-radius:3px;
			@include breakpoint($lg) {
				margin-top: 10px;
			}
		}
	}
	.date{display: block;color:#757575; font-size: 14px; position: absolute; right: 0;top: 0; line-height: 34px;}
	.desc{height: 37px;overflow: hidden;line-height: 19px;display: inline-block;}
}

#goLinkSet {
	height: 220px;
	ul{@include breakpoint($md){margin:0 -1%;}}
	li{
		width: 48%; 
		height: 90px;
		margin-bottom:10px;
		float: left; 
		background:#fff 0 0 no-repeat;
		background-size: 100% 100%;
		@include breakpoint($md){
			margin:0 1% 10px 1%; 
		}
		@include breakpoint($sm){
			background-position: right center;
			background-size:auto 100%;
			width:100%;
		}
		&.goLink1{ background-image: url(/static/portal/img/main/goLink1.jpg); background-color:#f0eeef;}
		&.goLink2{ background-image: url(/static/portal/img/main/goLink2.jpg); background-color:#edeef2;}
		&.goLink3{ background-image: url(/static/portal/img/main/goLink3.jpg); background-color:#f0eeef;}
		&.goLink4{ background-image: url(/static/portal/img/main/goLink4.jpg); background-color:#edeef2;}
		a{
			display: block; height: 90px; line-height: 90px;padding-left: 40px;
			font-size: 20px;
			letter-spacing: -3px;
			font-weight: 400;
			@include breakpoint($sm){
				padding-left:20px;
			}
			&:after{
				content:'';
				display: inline-block;
				vertical-align: middle;
				width: 58px;
				height: 18px;
				background: url(/static/portal/img/main/arrow.png) no-repeat 0 -2px; 
			}
		}
	}
}
#cardBox {
	height: 313px;
	@include breakpoint(992px 1276px){
		height:auto;
	}
	margin-bottom: 51px;	
	.container>div{
		width: 364px;
		@include breakpoint($sm){
			width:100%;
			margin-right:0;
		}
		@include breakpoint(768px 991px){
			width: 49%;
			margin-right: 2%;
			margin-bottom: 20px;
			&.cardBox1{
				width: 100%;	
				margin-bottom: 20px;
			}			
		}
		@include breakpoint(992px 1276px){
			width: 32.333%;
			margin-right: 1%;
			padding:15px 20px;
			&.cardBox3{width:33.333%;}
		}
		height: 313px;
		overflow: hidden;
		margin-right: 24px;
		float: left;
		padding:25px 30px;
		&:last-child{
			margin-right: 0;
		}
	}
	h3{ letter-spacing: -1px; color:#fff; margin-bottom: 5px; }
	.cardBox1 {
		width: 100%;
		@include breakpoint($lg){ 
			width: 364px;
		}
		@include breakpoint(992px 1276px){
			width:34%;
			margin-right: 1%;
			margin-bottom: 20px;
		}
		padding-right: 10px;
		color: #323232;
		background-color: #e0e5ee;
		h3{ color: #323232; }
		h3+p{font-size: 14px; margin-bottom: 20px;}
		ul i{display: inline-block; width: 65px;height: 65px; background-repeat: no-repeat; background-position: 50% 50%; 
			background-size: cover;
			@include breakpoint(992px 1276px){
				width: 50px;
				height: 50px;
			}
		}
		ul i+span{display: block; letter-spacing: -1px; padding:3px 0 8px 0;}
		.ico1{ background-image: url(/static/portal/img/main/cardBox1_1.gif); }
		.ico2{ background-image: url(/static/portal/img/main/cardBox1_2.gif); }
		.ico3{ background-image: url(/static/portal/img/main/cardBox1_3.gif); }
		.ico4{ background-image: url(/static/portal/img/main/cardBox1_4.gif); }
		.ico5{ background-image: url(/static/portal/img/main/cardBox1_5.gif); }
		.ico6{ background-image: url(/static/portal/img/main/cardBox1_6.gif); }
		.ico7{ background-image: url(/static/portal/img/main/cardBox1_7.gif); }
		.ico8{ background-image: url(/static/portal/img/main/cardBox1_8.gif); }
		// ul{ margin-left: -10px; margin-right: 10px; }
		li{
			display: inline-block; 
			width: 25%; 
			/* @include breakpoint(992px 1276px){
				width:12.5%;
			} */
			float: left; text-align: center; 
			a{font-size: 14px;}
		}
	}
	.cardBox2 { position: relative;
		background: url(/static/portal/img/main/cardBox2.gif) no-repeat;
		background-size: 100% 100%; 
		color:#fff;
		.title{
			font-size: 24px; letter-spacing: -1px; color:#86d88b; 
			text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
		}
		.img{
			display:block;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			img{width:100%;}
		}
	}
	.gallerySlideSet{
		.ctrl{
			position: absolute;
			width: 60px;
			top: 14px;
			right: 5px;
			button{
				display: block;
				clear: both;
				background: none; 
				float: right;
				width: 100%;
				i{display: inline-block; float: right; background-color: #2d4a7e; padding:3px;}
				&.gallerySlide_play{display: none;}
			}
		}
		.gallerySlide{
			height: 262px;
			overflow: hidden;
			.date{display: block; margin-bottom: 20px; color:#fff;}
			.items{ float: left; margin-right: 10px}
			a{display: inline-block;}
		}
	}
	.cardBox3 {
		position: relative;
		background-color: #5c6979;
		a{display:block;@include clearfix();}
		h3{margin-bottom: 0;}
		.img{
			display: inline-block; float: left; margin-right: 20px;
			width:50%;
			position:relative;
			overflow:hidden;
			max-width:180px;
			&:before {
				content: '';
				display:block;
				padding-top:142.2%;
			}
			img{
				position:absolute;
				left:0;
				top:0;
				width:100%;
			}
		}
		.title{font-size: 20px; line-height: 1.2; letter-spacing: -2px; color:#baf7be; margin-bottom: 10px; }
		.desc{
			color:#fff; 
			font-size:14px;
			// width: 33%;
			height: 180px;
			overflow: hidden; 
		}
		.more{ 
			display: block;
			position: absolute; 
			bottom: 0;
			right: 0; 
			width: 82px;
			height: 82px;
			background: url(/static/portal/img/main/cardBox3More.png) no-repeat 100% 100%;
		}
	}
}
#fBannerSet {
	// height: 132px;
	clear: both;
	border-top:1px solid #dcdcdc;
}

// 
.emergency_box{
	display:none;
	margin: 0 auto;
	position:absolute;
	max-width:1140px;
	left:10px;
	right:0;
	background-color:#fff;
	z-index:999;
	border:1px solid #dbdbdb;
	&.on{ display:block;}
	.em_head{
		height:54px;		
		border-bottom:2px solid #061d45;
		padding-left:39px;
		strong{
			@include bu1;
			background-position:0 center;
			font-weight:500;
			color:#061d45;
			line-height:54px;
		}
	}
	.em_btn_close {
		background:#061d45 url(/static/portal/img/main/btn-lpopclose.png) center center no-repeat;
		width:54px;height:54px;
		position:absolute;
		right:0;
		top:0;
// 		C:\sbgongdan\00_MAIN_포털\main-assets\icon04.png
// C:\sbgongdan\00_MAIN_포털\main-assets\
// C:\sbgongdan\00_MAIN_포털\main-assets\icobg.png
// C:\sbgongdan\00_MAIN_포털\main-assets\icon02.png
// C:\sbgongdan\00_MAIN_포털\main-assets\icon03.png

	}
	.em_cont {
		overflow: hidden;
		padding:10px;
		padding:10px 19px 20px 1px;
		@include breakpoint($md){
			padding:38px;
		}
		> div{ @include dotx5; padding: 20px 0; overflow: hidden; clear: both; }
		> div:last-child{background:none;}
		strong {
			width:140px;
			height:140px;
			padding:28px 0  0 0;
			display:block;
			background: url(/static/portal/img/main/icobg.png) center center no-repeat;
			text-align:center;
			font-size:15px;
			color:$sitecolor;
			margin: 0 auto 20px;
			@include breakpoint($md){
				margin:0;
				float:left;

			}
			&:before {
				content: '';
				width:40px;
				height:40px;
				display:block;
				background: url(/static/portal/img/main/icon01.png) center center no-repeat;
				margin: 0 auto 7px;
			}
		}
		
		> div:first-child + div strong:before{background-image:url(/static/portal/img/main/icon02.png);}
		> div:first-child + div + div strong:before{background-image:url(/static/portal/img/main/icon03.png);}
		> div:first-child + div + div + div strong:before{background-image:url(/static/portal/img/main/icon04.png);}
		ul{
			@include breakpoint($md){
				float:right;
				width: calc(100% - 140px);
				padding-left:10px;
			}
		}
		li{ float: left;
			margin:0 0 10px 19px;
				width: calc(50% - 19px);
			@include breakpoint($md){
				width: calc(100% / 3 - 19px);
			}
			@include breakpoint($lg){
				width: calc(25% - 19px);
			}

		}
		li.line2{ 
			width:calc(100% - 19px);
			@include breakpoint($lg){width:calc(50% - 19px);}
		}
		li a{
			display:block;
			height:40px;
			border:1px solid $bdcolor;
			position:relative;
			line-height:38px;
			padding-left:17px;
			padding-right:20px;
			letter-spacing:-1px;
			&:before {
				content: '\f054';
				display:inline;
				font-family:'FontAwesome';
				position:absolute;
				right:19px;
				top:0;
				font-size:9px;
			}
			&:hover,
			&:focus {color: $sitecolor;}
			@include breakpoint($sm){
				font-size:15px;
				padding:0 0 0 10px;
				text-align:center;
				&:before {display:none; }
			}
		}
	}
	
}
