@charset "UTF-8";
@import url(/static/jslibrary/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.css);
/* line 4, static/park/scss/global.scss */ .seocoment { display: none; }

/* line 5, static/park/scss/global.scss */ .keyboardControlActive { -webkit-transform: translate3d(0, 0, 0) !important; transform: translate3d(0, 0, 0) !important; }

/* line 8, static/park/scss/global.scss */ #topKwd { ime-mode: active; }

/* line 11, static/park/scss/global.scss */ .grid { display: none; }

/* line 13, static/park/scss/global.scss */ .color_default { color: #181818; }

/* line 14, static/park/scss/global.scss */ .color_point { color: #2c4a9e; }

/* line 15, static/park/scss/global.scss */ .color_black { color: #000; }

/* line 16, static/park/scss/global.scss */ .color_deepgray { color: #333; }

/* line 17, static/park/scss/global.scss */ .color_orange { color: #f76627; }

/* line 18, static/park/scss/global.scss */ .color_blue { color: #0059a9; }

/* line 19, static/park/scss/global.scss */ .col_blue { color: #0059a9; }

/* line 20, static/park/scss/global.scss */ .color_cobalt { color: #02728D; }

/* line 21, static/park/scss/global.scss */ .col_cobalt { color: #02728D; }

/* line 22, static/park/scss/global.scss */ .color_red { color: #e43b00; }

/* line 23, static/park/scss/global.scss */ .col_red { color: #e43b00; }

/* line 24, static/park/scss/global.scss */ .color_green { color: #3A7525; }

/* line 25, static/park/scss/global.scss */ .col_green { color: #3A7525; }

/* font color */
/* line 31, static/park/scss/global.scss */ .familySetOpen { position: absolute; right: 0; top: 71px; font-family: 'FontAwesome'; font-size: 20px; width: 48px; height: 30px; z-index: 601; }

@media (min-width: 992px) { /* line 31, static/park/scss/global.scss */ .familySetOpen { display: none; } }

/* line 42, static/park/scss/global.scss */ .familySetClose { display: none; }

/* line 44, static/park/scss/global.scss */ #globalWarp { background-color: #061d45; position: relative; }

/* line 47, static/park/scss/global.scss */ #globalWarp .set { max-width: 1140px; height: 40px; margin: 0 auto; }

/* line 52, static/park/scss/global.scss */ #globalWarp .familySetToggle { font-size: 20px; position: absolute; right: 0; top: 40px; width: 45px; height: 70px; color: #333; background-color: transparent; font-family: 'FontAwesome'; }

@media (min-width: 992px) { /* line 52, static/park/scss/global.scss */ #globalWarp .familySetToggle { display: none; } }

/* line 64, static/park/scss/global.scss */ #globalWarp .set > .familySet.mobileOn > ul > li > div > ul { position: static; }

/* line 65, static/park/scss/global.scss */ #globalWarp .set > .familySet.mobileOn > ul > li > div > ul > li a { text-align: left; }

/* line 68, static/park/scss/global.scss */ #globalWarp .familySet { float: left; display: none; height: 40px; }

@media (min-width: 992px) { /* line 68, static/park/scss/global.scss */ #globalWarp .familySet { display: block; } }

/* line 73, static/park/scss/global.scss */ #globalWarp .familySet > ul > li { float: left; }

@media (min-width: 992px) { /* line 73, static/park/scss/global.scss */ #globalWarp .familySet > ul > li { border: 2px solid #061d45; border-width: 0 1px; } }

/* line 79, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.active { background-color: #fff; }

/* line 81, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.active a { color: #000; border-color: #061d45; }

/* line 86, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.on { position: relative; background-color: #fff; }

/* line 89, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.on > a { color: #000; border-color: #061d45; position: relative; z-index: 1000; }

/* line 96, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.on > div a { color: #000; }

@media (min-width: 992px) { /* line 97, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.on > div > ul { position: absolute; display: block; top: 50px; left: -2px; z-index: 1000; padding: 10px 0; border: 2px solid #0059a9; background-color: #fff; } }

/* line 109, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.on > div > ul li { float: none; display: block; padding: 0 0 0 20px; }

/* line 113, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.on > div > ul li a { color: #000; line-height: 1; background: url(/static/park/img/common/bu3.png) 0 center no-repeat; background-size: 5px; padding-left: 20px; padding: 8px 20px 8px 20px; font-size: 15px; text-align: left; white-space: nowrap; }

/* line 123, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.on > div > ul li a:hover, #globalWarp .familySet > ul > li.on > div > ul li a:focus { color: #061d45; text-decoration: underline; font-weight: bold; }

/* line 130, static/park/scss/global.scss */ #globalWarp .familySet > ul > li > div > ul { display: none; }

/* line 131, static/park/scss/global.scss */ #globalWarp .familySet > ul > li > a { padding: 0 4px; font-size: 15px; }

@media (min-width: 1140px) { /* line 131, static/park/scss/global.scss */ #globalWarp .familySet > ul > li > a { padding: 0 14px; } }

/* line 138, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.f1 > a:before { width: 19px; background-position: 0 0; }

/* line 139, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.f2 > a:before { width: 19px; background-position: -114px 0; }

/* line 140, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.f3 > a:before { width: 24px; background-position: -210px 0; }

/* line 141, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.f4 > a:before { width: 20px; background-position: -288px 0; }

/* line 142, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.f5 > a:before { width: 18px; background-position: -377px 0; }

/* line 143, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.f6 > a:before { width: 17px; background-position: -469px 0; }

/* line 144, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.f7 > a:before { width: 19px; background-position: -599px 0; }

/* line 145, static/park/scss/global.scss */ #globalWarp .familySet > ul > li.f8 > a:before { width: 22px; background-position: -691px 0; }

/* line 147, static/park/scss/global.scss */ #globalWarp .familySet a { padding: 0 8px; display: block; color: #fff; line-height: 40px; }

/* line 153, static/park/scss/global.scss */ #globalWarp .familySet a .la, #globalWarp .familySet a .fa { display: none; }

@media (min-width: 1140px) { /* line 147, static/park/scss/global.scss */ #globalWarp .familySet a { padding: 0 10px 0 35px; }
	/* line 156, static/park/scss/global.scss */ #globalWarp .familySet a .la, #globalWarp .familySet a .fa { font-size: 20px; padding-right: 3px; display: inline-block; } }

/* line 160, static/park/scss/global.scss */ #globalWarp .global { font-size: 14px; }

@media (min-width: 992px) { /* line 160, static/park/scss/global.scss */ #globalWarp .global { float: right; padding-right: 95px; } }

/* line 166, static/park/scss/global.scss */ #globalWarp .global .mynav { float: left; }

/* line 168, static/park/scss/global.scss */ #globalWarp .global .mynav li { float: left; }

/* line 170, static/park/scss/global.scss */ #globalWarp .global .mynav li a { display: block; color: #fff; line-height: 40px; padding: 0 12px; }

/* line 175, static/park/scss/global.scss */ #globalWarp .global .mynav li a span.name { display: none; }

/* line 182, static/park/scss/global.scss */ #header { position: relative; z-index: 500; width: 100%; border-bottom: 1px solid #e8e9ed; display: block; }

/* line 76, static/park/scss/_var.scss */ #header:before, #header:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@media (min-width: 992px) { /* line 182, static/park/scss/global.scss */ #header { margin: 0 auto; height: 130px; } }

/* line 192, static/park/scss/global.scss */ #header .top { width: 100%; border-bottom: 1px solid #e8e9ed; padding-left: 0; padding-right: 0; height: 80px; }

/* line 195, static/park/scss/global.scss */ #header .top .container { position: relative; }

@media (max-width: 991px) { /* line 192, static/park/scss/global.scss */ #header .top { height: 130px; } }

@media (min-width: 992px) { /* line 207, static/park/scss/global.scss */ #header .logo { padding-top: 0; position: absolute; left: 10px; top: 0; } }

/* line 214, static/park/scss/global.scss */ #header .logo a { width: 270px; height: 60px; background: url(/static/park/img/common/logo.png) center 0 no-repeat; background-size: auto 100%; display: block; margin: 0 auto; }

@media (min-width: 768px) { /* line 214, static/park/scss/global.scss */ #header .logo a { width: 306px; height: 60px; } }

@media (min-width: 992px) { /* line 214, static/park/scss/global.scss */ #header .logo a { background-position: 0 0; width: 306px; height: 80px; margin: 0; } }

/* line 235, static/park/scss/global.scss */ #subtsh { position: relative; background-color: #eef1f7; padding: 10px 11px; }

@media (min-width: 992px) { /* line 235, static/park/scss/global.scss */ #subtsh { background-color: transparent; padding: 0 0 0 20px; padding-top: 20px; max-width: 480px; float: right; } }

/* line 246, static/park/scss/global.scss */ #subtsh fieldset { display: block; padding-left: 110px; padding-right: 49px; position: relative; border: 1px solid #d8d8d8; background-color: #fff; }

@media (min-width: 768px) and (min-width: 992px) { /* line 246, static/park/scss/global.scss */ #subtsh fieldset { margin: 0; } }

/* line 263, static/park/scss/global.scss */ #subtsh fieldset > select, #subtsh fieldset input, #subtsh fieldset button { height: 38px; }

/* line 268, static/park/scss/global.scss */ #subtsh fieldset > select { width: 110px; border: none; position: absolute; left: 0; top: 0; min-height: 38px; }

/* line 274, static/park/scss/global.scss */ #subtsh fieldset input { border: none; width: 100%; line-height: 38px; padding-right: 43px; }

/* line 279, static/park/scss/global.scss */ #subtsh fieldset input:focus { outline: none; }

/* line 281, static/park/scss/global.scss */ #subtsh fieldset button { position: absolute; top: 0; right: 0; background-color: #fff; width: 40px; text-align: center; }

@media (min-width: 992px) { /* line 281, static/park/scss/global.scss */ #subtsh fieldset button { right: 0; top: 0; } }

/* line 292, static/park/scss/global.scss */ #subtsh fieldset button:after { content: ''; font-family: 'FontAwesome'; font-size: 20px; }

/* line 299, static/park/scss/global.scss */ #subtsh .favkeyword { font-size: 15px; margin: 7px auto 0; }

/* line 302, static/park/scss/global.scss */ #subtsh .favkeyword dt { margin-right: 10px; color: #0059a9; display: inline-block; vertical-align: top; }

/* line 308, static/park/scss/global.scss */ #subtsh .favkeyword dd { display: inline-block; vertical-align: top; text-overflow: ellipsis; word-wrap: normal; overflow: hidden; white-space: nowrap; width: 100%; max-width: calc(100% - 100px); }

/* line 317, static/park/scss/global.scss */ #subtsh .favkeyword dd a { display: inline; vertical-align: top; margin-right: 5px; }

/* line 324, static/park/scss/global.scss */ #subtsh .favkeyword.keyboardfocusIn dd { text-overflow: inherit; }

@media (min-width: 1140px) { /* line 328, static/park/scss/global.scss */ #subtsh .favkeyword { display: block !important; white-space: nowrap !important; overflow: hidden; word-wrap: normal !important; text-overflow: ellipsis !important; -ms-text-overflow: ellipsis !important; text-transform: uppercase; /* text-overflow: ellipsis; //Required for text-overflow to do anything white-space: nowrap; overflow: hidden; */ } }

/* line 347, static/park/scss/global.scss */ .layoutSnsWrap { display: inline-block; vertical-align: middle; }

/* line 349, static/park/scss/global.scss */ .layoutSnsWrap .sns-tweeter { background-image: url(/static/commons/img/sns/snstweeter.png); }

/* line 350, static/park/scss/global.scss */ .layoutSnsWrap .sns-facebook { background-image: url(/static/commons/img/sns/snsfacebook.png); }

/* line 351, static/park/scss/global.scss */ .layoutSnsWrap .sns-kakaostory { background-image: url(/static/commons/img/sns/snskakaostory.png); }

/* line 355, static/park/scss/global.scss */ .layoutSnsWrap a { width: 26px; height: 26px; display: inline-block; background-size: cover; }

/* 자료담당자 */
/* line 364, static/park/scss/global.scss */ .pageAdm { margin-top: 20px; background-color: #777c8a; }

@media (min-width: 992px) { /* line 364, static/park/scss/global.scss */ .pageAdm { display: table; width: 100%; table-layout: fixed; } }

/* line 372, static/park/scss/global.scss */ .pageAdm p { color: #fff; padding: 8px 0; line-height: 2; }

@media (max-width: 767px) { /* line 372, static/park/scss/global.scss */ .pageAdm p { text-align: center; } }

/* line 379, static/park/scss/global.scss */ .pageAdm p:first-child { padding-top: 15px; }

@media (min-width: 768px) { /* line 379, static/park/scss/global.scss */ .pageAdm p:first-child { background: url(/static/park/img/common/pageAdm-bu.png) 29px 15px no-repeat; background-size: 30px; padding-left: 70px; } }

/* line 387, static/park/scss/global.scss */ .pageAdm p + p { border-top: 1px solid #acaeb5; }

@media (min-width: 768px) { /* line 387, static/park/scss/global.scss */ .pageAdm p + p { padding-left: 70px; } }

@media (min-width: 992px) { /* line 372, static/park/scss/global.scss */ .pageAdm p { padding: 15px 0; display: table-cell; }
	/* line 396, static/park/scss/global.scss */ .pageAdm p + p { padding-left: 0; text-align: center; width: 25%; border-left: 1px solid #fff; } }

/* line 406, static/park/scss/global.scss */ .pageComment { margin-top: 20px; border: 1px solid #dadada; padding: 15px; }

@media (min-width: 768px) { /* line 406, static/park/scss/global.scss */ .pageComment { padding: 19px 29px; } }

/* line 413, static/park/scss/global.scss */ .pageAdm + .pageComment { border-top: none; margin-top: 0; }

/* line 414, static/park/scss/global.scss */ .pageComment input[name=opinionCn], .pageComment .col-md-9 input, .pageComment textarea { width: 100%; height: 40px; vertical-align: top; }

@media (max-width: 767px) { /* line 414, static/park/scss/global.scss */ .pageComment input[name=opinionCn], .pageComment .col-md-9 input, .pageComment textarea { height: 60px; } }

@media (min-width: 992px) { /* line 414, static/park/scss/global.scss */ .pageComment input[name=opinionCn], .pageComment .col-md-9 input, .pageComment textarea { height: 40px; line-height: 36px; text-indent: 10px; } }

/* line 423, static/park/scss/global.scss */ .pageComment .pageCommentName { width: 100px; height: 40px; line-height: 40px; padding-left: 5px; }

@media (min-width: 992px) { /* line 423, static/park/scss/global.scss */ .pageComment .pageCommentName { width: 100%; } }

/* line 430, static/park/scss/global.scss */ .pageComment button { color: #fff; background-color: #f76627; height: 40px; width: 100%; }

/* line 437, static/park/scss/global.scss */ .pageComment .row > div { margin-bottom: 2px; }

@media (min-width: 768px) { /* line 440, static/park/scss/global.scss */ .pageComment .row > div + div { margin-bottom: 10px; padding: 0; } }

@media (min-width: 992px) { /* line 437, static/park/scss/global.scss */ .pageComment .row > div { margin-bottom: 0; }
	/* line 444, static/park/scss/global.scss */ .pageComment .row > div + div { margin-bottom: 0; } }

/* line 450, static/park/scss/global.scss */ .lnb { padding-top: 30px; display: none; float: left; background-color: white; border-top-style: none; }

@media (min-width: 992px) { /* line 450, static/park/scss/global.scss */ .lnb { display: block; width: 19.82456140350877%; } }

/* line 467, static/park/scss/global.scss */ .lnb h2 { height: 240px; }

/* line 468, static/park/scss/global.scss */ .lnb .lnbtitle, .lnb h2, .lnb h1 { font-size: 27px; font-family: 'Noto Sans'; font-weight: 500; text-align: left; padding: 27px 20px 20px 30px; line-height: 1; color: #fff; font-weight: normal; background: #4c6aa2 url(/static/park/img/common/lnbTitleBg1.png) right bottom no-repeat; }

/* line 480, static/park/scss/global.scss */ .lnb.bg2 h2 { background-image: url(/static/park/img/common/lnbTitleBg2.png); }

/* line 481, static/park/scss/global.scss */ .lnb.bg3 h2 { background-image: url(/static/park/img/common/lnbTitleBg3.png); }

/* line 482, static/park/scss/global.scss */ .lnb.bg4 h2 { background-image: url(/static/park/img/common/lnbTitleBg4.png); }

/* line 483, static/park/scss/global.scss */ .lnb.bg5 h2 { background-image: url(/static/park/img/common/lnbTitleBg5.png); }

/* line 485, static/park/scss/global.scss */ .lnb > ul > li { border-bottom: 1px solid #dee0e6; position: relative; }

/* line 488, static/park/scss/global.scss */ .lnb > ul > li > a { padding: 16px 0 16px 28px; display: block; font-size: 16px; line-height: 1; position: relative; word-break: keep-all; font-family: 'Noto-Regular'; }

/* line 499, static/park/scss/global.scss */ .lnb > ul > li > div:after, .lnb > ul > li > div:before { content: ''; width: 11px; height: 1px; background-color: #0059a9; position: absolute; right: 17px; top: 25px; transition: all .25s ease-out; }

/* line 506, static/park/scss/global.scss */ .lnb > ul > li > div:after { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

/* line 508, static/park/scss/global.scss */ .lnb > ul > li ul { display: none; }

/* line 510, static/park/scss/global.scss */ .lnb > ul > li.on > a { background: #00486a; color: #fff; }

/* line 514, static/park/scss/global.scss */ .lnb > ul > li.on ul { display: block; }

/* line 518, static/park/scss/global.scss */ .lnb > ul > li.on > div:after { background-color: #fff; }

/* line 519, static/park/scss/global.scss */ .lnb > ul > li.on > div:before { display: none; }

/* line 523, static/park/scss/global.scss */ .lnb > ul > li ul { background-color: #f5f5f5; padding: 10px 0 10px 0; }

/* line 528, static/park/scss/global.scss */ .lnb > ul > li ul li a { color: #696969; display: block; letter-spacing: -1px; padding: 13px 0 9px 42px; line-height: 1; background: url(/static/park/img/common/lnbBu1.png) 28px 16px no-repeat; }

/* line 536, static/park/scss/global.scss */ .lnb > ul > li ul li a span { padding-bottom: 3px; display: inline-block; border-bottom: 1px solid #f5f5f5; }

/* line 542, static/park/scss/global.scss */ .lnb > ul > li ul li a:hover span, .lnb > ul > li ul li a:focus span, .lnb > ul > li ul li.on a span { border-bottom: 1px solid #0059a9; color: #0059a9; }

/* line 553, static/park/scss/global.scss */ .swfapp { position: relative; text-align: right; }

/* line 556, static/park/scss/global.scss */ .swfapp a { color: #fff; display: inline-block; padding: 10px; position: absolute; right: 0; top: 0; background-color: #000; }

/* line 564, static/park/scss/global.scss */ .dbData .swfapp a { position: static; }

/* line 568, static/park/scss/global.scss */ .loading { position: fixed; left: 0; width: 100%; text-align: center; margin-top: -120px; top: 50%; text-align: center; font-size: 18px; font-weight: bold; z-index: 999; }

/* line 579, static/park/scss/global.scss */ .loading::after { content: ''; position: fixed; width: 100%; height: 100%; left: 0; top: 0; background-color: #000; background-color: rgba(255, 255, 255, 0.8); z-index: -1; }

/* line 590, static/park/scss/global.scss */ .usS { color: #449d44; }

/* line 591, static/park/scss/global.scss */ .spinner { width: 70px; text-align: center; margin: 40px auto; }

/* line 597, static/park/scss/global.scss */ .spinner > div { width: 18px; height: 18px; background-color: #333; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

/* line 606, static/park/scss/global.scss */ .spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }

/* line 610, static/park/scss/global.scss */ .spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); }
	40% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); }
	40% { -webkit-transform: scale(1); transform: scale(1); } }

@media (min-width: 992px) { /* line 621, static/park/scss/global.scss */ #content { min-height: 400px; } }

/*# sourceMappingURL=global.css.map */
