@charset "UTF-8";
@import url(/static/park/css/global.css);
@import url(/static/park/css/mobileNav.css);
@media (min-width: 992px) { /* line 8, static/park/scss/layout.scss */ .bg_gnb { display: none; width: 100%; height: 310px; background-color: #fff; border-top: 2px solid #a7b784; position: absolute; left: 0; right: 0; top: 129px; border-bottom: 1px solid #e8e9ed; }
	/* line 19, static/park/scss/layout.scss */ #gnb { display: block; clear: both; position: relative; }
	/* line 76, static/park/scss/_var.scss */ #gnb:before, #gnb:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	/* line 23, static/park/scss/layout.scss */ #gnb.on > ul div { display: block; }
	/* line 24, static/park/scss/layout.scss */ #gnb > ul { display: table; table-layout: fixed; width: 100%; }
	/* line 28, static/park/scss/layout.scss */ #gnb > ul > li { display: table-cell; text-align: center; position: relative; }
	/* line 32, static/park/scss/layout.scss */ #gnb > ul > li:last-child { margin-right: 0; }
	/* line 33, static/park/scss/layout.scss */ #gnb > ul > li > a { display: inline-block; line-height: 1; color: #333333; font-family: 'Noto Sans'; font-weight: 400; font-size: 18px; line-height: 48px; }
	/* line 41, static/park/scss/layout.scss */ #gnb > ul > li > a:after { display: none; content: ""; } }

@media (min-width: 992px) and (min-width: 1140px) { /* line 33, static/park/scss/layout.scss */ #gnb > ul > li > a { font-size: 18px; } }

@media (min-width: 992px) { /* line 46, static/park/scss/layout.scss */ #gnb > ul > li a[target="_blank"]:after { content: ' '; font-family: 'LineAwesome'; }
	/* line 47, static/park/scss/layout.scss */ #gnb > ul > li.on > div { display: block; }
	/* line 49, static/park/scss/layout.scss */ #gnb > ul > li.hover > div { display: block; }
	/* line 50, static/park/scss/layout.scss */ #gnb > ul > li.hover > a { color: #0059a9; border-color: #008bce; }
	/* line 52, static/park/scss/layout.scss */ #gnb > ul > li > div { display: none; width: 100%; text-align: left; background-color: white; position: absolute; left: 0; top: 51px; width: calc(100% + 1px); z-index: 500; text-align: left; border-left: 1px solid #f3f3f3; border-right: 1px solid #f3f3f3; padding-left: 10%; padding-top: 13px; height: 307px; }
	/* line 71, static/park/scss/layout.scss */ #gnb > ul > li > div ul li a { display: block; padding: 6px 7px 5px 14px; line-height: 1.2; background: url(/static/ezpay/img/common/gnb2depthbu.png) 0 center no-repeat; font-family: 'Noto Sans'; font-weight: 300; font-size: 16px; }
	/* line 79, static/park/scss/layout.scss */ #gnb > ul > li > div ul li ul { display: none; }
	/* line 88, static/park/scss/layout.scss */ #gnb > ul > li.pcActive > div { display: block; }
	/* line 90, static/park/scss/layout.scss */ #gnb > ul > li.hover > a { color: #0059a9; }
	/* line 91, static/park/scss/layout.scss */ #gnb > ul > li.hover > a > span { padding-bottom: 7px; border-bottom: 2px solid #ade4ff; }
	/* line 96, static/park/scss/layout.scss */ #gnb .mypage { display: none; }
	/* line 99, static/park/scss/layout.scss */ #gnb .members { display: none; } }

/* line 105, static/park/scss/layout.scss */ #container { display: block; max-width: 1140px; margin: 0 auto; padding-bottom: 30px; }

/* line 76, static/park/scss/_var.scss */ #container:before, #container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@media (min-width: 992px) and (max-width: 1276px) { /* line 105, static/park/scss/layout.scss */ #container { padding-left: 10px; padding-right: 10px; } }

/* line 120, static/park/scss/layout.scss */ #container main { padding: 0 10px; }

@media (min-width: 992px) { /* line 120, static/park/scss/layout.scss */ #container main { float: right; padding-left: 40px; padding-right: 0; width: 80.175439%; } }

/* line 133, static/park/scss/layout.scss */ #container .hgroup { position: relative; margin-bottom: 16px; }

@media (min-width: 992px) { /* line 133, static/park/scss/layout.scss */ #container .hgroup { margin-bottom: 25px; } }

/* line 139, static/park/scss/layout.scss */ #container .hgroup h1 { font-size: 24px; padding: 30px 0 8px; line-height: 1.2; border-bottom: 1px solid #dee0e6; margin-bottom: 16px; }

@media (min-width: 992px) { /* line 139, static/park/scss/layout.scss */ #container .hgroup h1 { font-family: 'Noto Sans'; font-weight: 400; font-size: 30px; padding-bottom: 24px; padding-top: 58px; } }

/* line 153, static/park/scss/layout.scss */ #container .hgroup p { color: #757575; line-height: 1; font-size: 14px; }

@media (min-width: 992px) { /* line 153, static/park/scss/layout.scss */ #container .hgroup p { font-size: 1em; } }

/* line 160, static/park/scss/layout.scss */ #container .hgroup p span { font-family: consolas; vertical-align: middle; display: inline-block; line-height: 1; vertical-align: top; }

/* line 167, static/park/scss/layout.scss */ #container .hgroup p .t { font-family: "Noto Sans", "HelveticaNeue-Light", "AppleSDGothicNeo-Light", "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", sans-serif; }

/* line 169, static/park/scss/layout.scss */ #container .hgroup p .t:last-child { color: #0059a9; font-weight: bold; }

/* line 176, static/park/scss/layout.scss */ #container .hgroup .home:after { content: ''; font-family: 'FontAwesome'; color: #0059a9; }

/* line 183, static/park/scss/layout.scss */ #container .hgroup .utilSet { display: none; position: absolute; right: 0; bottom: -12px; }

@media (min-width: 992px) { /* line 183, static/park/scss/layout.scss */ #container .hgroup .utilSet { display: block; } }

/* line 191, static/park/scss/layout.scss */ #container .hgroup .utilSet .btn-print { background: none; }

/* line 193, static/park/scss/layout.scss */ #container .hgroup .utilSet .btn-print:after { content: "\f2c7"; font-family: "LineAwesome"; font-size: 24px; color: #000000; }

/* line 209, static/park/scss/layout.scss */ #allNav, .sitemap { display: none; background-color: rgba(0, 0, 0, 0.5); position: fixed; left: 0; right: 0; bottom: 0; top: 0; margin: auto; flex-direction: row; justify-content: center; align-items: center; }

@media (min-width: 992px) { /* line 211, static/park/scss/layout.scss */ #allNav.on, .on.sitemap { display: block; } }

/* line 223, static/park/scss/layout.scss */ #allNav .set, .sitemap .set { flex: 1; position: relative; background-color: #fff; box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.55); max-width: 1276px; margin: 0 auto; }

/* line 230, static/park/scss/layout.scss */ #allNav .set h2, .sitemap .set h2, #allNav .set h1, .sitemap .set h1 { color: #0059a9; line-height: 1; border-bottom: 2px solid #0059a9; text-align: center; font-family: 'Noto-Bold'; line-height: 53px; }

/* line 239, static/park/scss/layout.scss */ #allNav .set .allNavClose, .sitemap .set .allNavClose { position: absolute; right: -1px; top: -1px; right: 0; top: 0; width: 54px; height: 54px; background: #0059a9 url(/static/park/img/common/allnavclose.png) 50% 50% no-repeat; }

/* line 251, static/park/scss/layout.scss */ #allNav .s > ul, .sitemap .s > ul { padding: 20px; height: 644px; overflow-y: auto; -webkit-overflow-scrolling: touch; }

/* line 257, static/park/scss/layout.scss */ #allNav .s > ul > li > a, .sitemap .s > ul > li > a { display: none; }

/* line 258, static/park/scss/layout.scss */ #allNav .s > ul > li .img, .sitemap .s > ul > li .img { background-color: #f5fcff; text-align: center; font-size: 22px; color: #006da1; font-family: 'Noto-Bold'; line-height: 40px; }

/* line 267, static/park/scss/layout.scss */ #allNav .s > ul > li .dinfoSet > ul, .sitemap .s > ul > li .dinfoSet > ul { display: block; padding: 20px 10px; }

/* line 76, static/park/scss/_var.scss */ #allNav .s > ul > li .dinfoSet > ul:before, .sitemap .s > ul > li .dinfoSet > ul:before, #allNav .s > ul > li .dinfoSet > ul:after, .sitemap .s > ul > li .dinfoSet > ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 270, static/park/scss/layout.scss */ #allNav .s > ul > li .dinfoSet > ul > li, .sitemap .s > ul > li .dinfoSet > ul > li { float: left; width: 25%; padding: 0 10px; }

/* line 274, static/park/scss/layout.scss */ #allNav .s > ul > li .dinfoSet > ul > li:nth-child(4n+1), .sitemap .s > ul > li .dinfoSet > ul > li:nth-child(4n+1) { clear: both; }

/* line 275, static/park/scss/layout.scss */ #allNav .s > ul > li .dinfoSet > ul > li > a, .sitemap .s > ul > li .dinfoSet > ul > li > a { font-family: 'Noto-Bold'; font-size: 18px; color: #4f4f4f; display: block; padding-left: 34px; background: #f1f1f1 url(/static/park/img/common/mNavBu2.png) 10px center no-repeat; background-size: auto 14px; }

/* line 284, static/park/scss/layout.scss */ #allNav .s > ul > li .dinfoSet > ul > li div > ul, .sitemap .s > ul > li .dinfoSet > ul > li div > ul { padding: 9px; }

/* line 287, static/park/scss/layout.scss */ #allNav .s > ul > li .dinfoSet > ul > li div > ul li a, .sitemap .s > ul > li .dinfoSet > ul > li div > ul li a { display: block; text-indent: -12px; padding: 8px 0 7px 12px; font-size: 15px; line-height: 1; }

/* line 293, static/park/scss/layout.scss */ #allNav .s > ul > li .dinfoSet > ul > li div > ul li a:before, .sitemap .s > ul > li .dinfoSet > ul > li div > ul li a:before { content: '- '; }

/* line 305, static/park/scss/layout.scss */ #allNav .img::before, .sitemap .img::before { content: ''; background: url(/static/park/img/common/allnav1.png) right center no-repeat; width: 33px; height: 32px; display: inline-block; vertical-align: middle; margin-right: 13px; }

/* line 312, static/park/scss/layout.scss */ #allNav .i2:before, .sitemap .i2:before { background-image: url(/static/park/img/common/allnav2.png); }

/* line 313, static/park/scss/layout.scss */ #allNav .i3:before, .sitemap .i3:before { background-image: url(/static/park/img/common/allnav3.png); }

/* line 314, static/park/scss/layout.scss */ #allNav .i4:before, .sitemap .i4:before { background-image: url(/static/park/img/common/allnav4.png); }

/* line 315, static/park/scss/layout.scss */ #allNav .i5:before, .sitemap .i5:before { background-image: url(/static/park/img/common/allnav5.png); }

/* line 317, static/park/scss/layout.scss */ .sitemap { display: block; position: relative; }

/* line 321, static/park/scss/layout.scss */ .sitemap .set { position: relative; box-shadow: none; }

/* line 326, static/park/scss/layout.scss */ .sitemap .s > ul { height: auto; padding: 0; overflow-y: inherit; }

/*# sourceMappingURL=layout.css.map */
